<h2 class="main-title">Submissions</h2>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<div class="utility-container">
  <button class="btn btn-forms btn-space" [routerLink]="['/add-new-submission', requirementId]">Add New Submission</button>

  <div *ngIf="userRole ==='ADMIN'">
    <div class="table-wrapper mt-4" *ngIf="submissionsLength > 0 ; else noSummissions">
      <div class="block-wrapper">
        <div class="meta-info-wrapper">
          <span class="block-header-label">Position Name: </span>
          <span class="meta-info-content">{{selectedRequirement.position.positionName}},</span>
          <span class="block-header-label">Client Name: </span>
          <span class="meta-info-content">{{selectedRequirement.client.name}},</span>
          <span *ngIf="selectedRequirement.allocationUser">
            <span class="block-header-label">Allocated to: </span>
            <span class="meta-info-content">{{selectedRequirement.allocationUser.firstName}}
              {{selectedRequirement.allocationUser.lastName}}
              <span class="meta-info-content" *ngIf="selectedRequirement.allocationUserId === ''">(Team:
                {{selectedRequirement.team.name}})</span>
            </span>
          </span>
        </div>
        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>Created Date:</th>
              <th>Candidate Name</th>
              <th>Technology</th>
              <th>Availability</th>
              <th>Work Location</th>
              <th>Status</th>
              <th>Submitted By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let submission of selectedRequirement.submissions" [routerLink]="['/edit-submission', submission.submissionId]">
              <td>{{submission.submissionOn | date: 'MMM d, y'}}</td>
              <td>{{submission.candidate.name}}</td>
              <td>{{submission.candidate.technology[0].technologyName}}</td>
              <td>{{submission.candidate.availability}}</td>
              <td>{{submission.candidate.location}}</td>
              <td>{{submission.status}}</td>
              <td>{{submission.submittedUser.firstName}} {{submission.submittedUser.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noSummissions>
      <p class="message">No Submissions yet, Please click Add Submission to add a new submission.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole ==='ACC_MGR'">
    <div class="table-wrapper mt-4" *ngIf="submissionsLength > 0 ; else noSummissions">
      <div class="block-wrapper">
        <div class="meta-info-wrapper">
          <span class="block-header-label">Position Name: </span>
          <span class="meta-info-content">{{selectedRequirement.position.positionName}},</span>
          <span class="block-header-label">Client Name: </span>
          <span class="meta-info-content">{{selectedRequirement.client.name}},</span>
          <span *ngIf="selectedRequirement.allocationUser">
            <span class="block-header-label">Allocated to: </span>
            <span class="meta-info-content">{{selectedRequirement.allocationUser.firstName}}
              {{selectedRequirement.allocationUser.lastName}}
              <span class="meta-info-content" *ngIf="selectedRequirement.allocationUserId === ''">(Team:
                {{selectedRequirement.team.name}})</span>
            </span>
          </span>
        </div>
        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>Created Date:</th>
              <th>Candidate Name</th>
              <th>Technology</th>
              <th>Availability</th>
              <th>Work Location</th>
              <th>Status</th>
              <th>Submitted By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let submission of selectedRequirement.submissions" [routerLink]="['/edit-submission', submission.submissionId]">
              <td>{{submission.submissionOn | date: 'MMM d, y'}}</td>
              <td>{{submission.candidate.name}}</td>
              <td>{{submission.candidate.technology[0].technologyName}}</td>
              <td>{{submission.candidate.availability}}</td>
              <td>{{submission.candidate.location}}</td>
              <td>{{submission.status}}</td>
              <td>{{submission.submittedUser.firstName}} {{submission.submittedUser.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noSummissions>
      <p class="message">No Submissions yet, Please click Add Submission to add a new submission.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole ==='TL'">
    <div class="table-wrapper mt-4" *ngIf="submissionsLength > 0 ; else noSummissions">
      <div class="block-wrapper">

        <div class="meta-info-wrapper">
          <span class="block-header-label">Position Name: </span>
          <span class="meta-info-content">{{selectedRequirement.position.positionName}},</span>
          <span class="block-header-label">Client Name: </span>
          <span class="meta-info-content">{{selectedRequirement.client.name}},</span>
          <span *ngIf="selectedRequirement.allocationUser">
            <span class="block-header-label">Allocated to: </span>
            <span class="meta-info-content">{{selectedRequirement.allocationUser.firstName}}
              {{selectedRequirement.allocationUser.lastName}}
              <span class="meta-info-content" *ngIf="selectedRequirement.allocationUserId === ''">(Team:
                {{selectedRequirement.team.name}})</span>
            </span>
          </span>
        </div>

        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>Created Date:</th>
              <th>Candidate Name</th>
              <th>Technology</th>
              <th>Availability</th>
              <th>Work Location</th>
              <th>Status</th>
              <th>Submitted By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let submission of selectedRequirement.submissions" [routerLink]="['/edit-submission', submission.submissionId]">
              <td>{{submission.submissionOn | date: 'MMM d, y'}}</td>
              <td>{{submission.candidate.name}}</td>
              <td>{{submission.candidate.technology[0].technologyName}}</td>
              <td>{{submission.candidate.availability}}</td>
              <td>{{submission.candidate.location}}</td>
              <td>{{submission.status}}</td>
              <td>{{submission.submittedUser.firstName}} {{submission.submittedUser.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noSummissions>
      <p class="message">No Submissions yet, Please click Add Submission to add a new submission.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole ==='RECRUITER' || userRole === 'TRAINEE'">
    <div class="table-wrapper mt-4" *ngIf="submissionsLength > 0 ; else noSummissions">
      <div class="block-wrapper">
        <div class="meta-info-wrapper">
          <span class="block-header-label">Position Name: </span>
          <span class="meta-info-content">{{selectedRequirement.position.positionName}},</span>
          <span class="block-header-label">Client Name: </span>
          <span class="meta-info-content">{{selectedRequirement.client.name}},</span>
        </div>
        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>Created Date:</th>
              <th>Candidate Name</th>
              <th>Technology</th>
              <th>Availability</th>
              <th>Work Location</th>
              <th>Status</th>
              <th>Submitted By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let submission of selectedRequirement.submissions" [routerLink]="['/recruiter-edit-submissions', submission.submissionId]">
              <td>{{submission.submissionOn | date: 'MMM d, y'}}</td>
              <td>{{submission.candidate.name}}</td>
              <td>{{submission.candidate.technology[0].technologyName}}</td>
              <td>{{submission.candidate.availability}}</td>
              <td>{{submission.candidate.location}}</td>
              <td>{{submission.status}}</td>
              <td>{{submission.submittedUser.firstName}} {{submission.submittedUser.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noSummissions>
        <p class="message">No Submissions yet, Please click Add Submission to add a new submission.</p>
      </ng-template>
    </div>

  </div>