.title {
  margin-top: 1em;
}

.table-header {
  background-color: whitesmoke;
  color: rgb(51, 48, 48);
  text-transform: uppercase;
}

.allocation-name {
  font-size: 17px;
  text-transform: capitalize;
  color: rgb(70, 104, 117);
}

/* tr td:last-child {
  color: blue;
  text-decoration: none;
} */

