<div class="sub-nav-wrapper">
  <span *ngIf="userRole === 'ADMIN' || userRole === 'HR_MANAGER'">
    <a class="sub-nav-link" [routerLink]="['/time-sheet-report']">Time sheet Report</a>
  </span>
</div>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>
<h2 class="main-title">Time Sheet</h2>
<div class="utility-container">
  <div class="row">
    <div class="col-10">
      <div class="row mt-2">
        <div class="col-3">
          <mat-form-field>
            <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="startDate" placeholder="From Date">
            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Select User</mat-label>
            <mat-select [(ngModel)]="selectedUser">
              <mat-option *ngFor="let user of userDetails" [value]="user.userId">
                {{user.firstName}} {{user.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4 mt-3">
          <button class="btn btn-sm btn-primary btn-space" (click)="dateFilter();">Show Results</button>
          <button *ngIf="selectedDaysLength > 0 && rtsUserId === selectedUser && userRole !== 'ADMIN'"
            class="btn btn-sm btn-primary ml-2" (click)="sendMail();">Send Email</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userRole === 'ADMIN'">
    <table class="table table-bordered table-sm table-hover">
      <thead class="table-header">
        <tr>
          <th><b>Days</b></th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wendesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody *ngIf="selectedDaysLength > 0">
        <tr>
          <td><b>Date</b></td>
          <td *ngFor="let sheet of weekSheet">{{sheet.dateId}}</td>
        </tr>
        <tr>
          <td><b>Working Hours</b></td>
          <td *ngFor="let sheet of weekSheet" (click)="getTimeDetails(sheet.dateId,false);">{{sheet.workingHoursStr}}
          </td>
        </tr>
        <tr>
          <td><b>Productivity Hours</b></td>
          <td *ngFor="let sheet of weekSheet" (click)="getTimeDetails(sheet.dateId,true);">
            {{sheet.productivityHoursStr}}</td>
        </tr>
        <tr>
          <td colspan="7" class="total-hours"><b>Total Working Hours</b></td>
          <td>{{totalWorkingHours}}</td>
        </tr>
        <tr>
          <td colspan="7" class="total-hours"><b>Total Productivity Hours</b></td>
          <td>{{totalProductivityHours}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userRole !== 'ADMIN'">
    <table class="table table-bordered table-sm table-hover">
      <thead class="table-header">
        <tr>
          <th><b>Days</b></th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wendesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody *ngIf="selectedDaysLength > 0">
        <tr>
          <td><b>Date</b></td>
          <td *ngFor="let sheet of weekSheet">{{sheet.dateId}}</td>
        </tr>
        <tr>
          <td><b>Working Hours</b></td>
          <td *ngFor="let sheet of weekSheet" (click)="getTimeDetails(sheet.dateId);">{{sheet.workingHoursStr}}</td>
        </tr>
        <tr>
          <td colspan="7" class="total-hours"><b>Total Working Hours</b></td>
          <td>{{totalWorkingHours}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>