.btn-space {
    margin-left: 1.5em;
  }

.total-hours{
    text-align: end;
    padding-right: 0.5em;
  }

.text{
    padding-top: 1.2em;
    color: red;
}

td[data-content="Absent"] { 
  color: red;
}