<!-- <h2 class="time-title">{{date}}</h2> -->
<table class="table table-bordered table-sm table-hover">
  <thead class="table-header">
    <tr>
      <th>Session In</th>
      <th>Session Out</th>
      <th>Working Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sheet of selectedTimeSheet">
      <td>{{sheet.sessionIn | date:'MMM d, h:mm a'}}<span *ngIf="sheet.workHome"
          style="color: #397fa8;font-weight: 600;"> (WH)</span></td>
      <td *ngIf="!sheet.autoLogout else autoLogout">{{sheet.sessionOut | date:'MMM d, h:mm a'}}</td>
      <ng-template #autoLogout>
        <td class="text-color">{{sheet.sessionOut | date:'MMM d, h:mm a'}}</td>
      </ng-template>
      <td>{{sheet.workingHours}}</td>
    </tr>
  </tbody>
</table>