<div class="sub-nav-wrapper">
  <a class="sub-nav-link" [routerLink]="['/add-candidate']">Add New Candidate</a>
  <span class="divider">
    <a class="sub-nav-link" [routerLink]="['/search-candidates-email']"> Search By Email</a>
  </span>
  <span class="divider">
    <a class="sub-nav-link" [routerLink]="[]" (click)="removeEmail();"> Remove Email</a>
  </span>
  <!-- <span class="divider">
    <a class="sub-nav-link" [routerLink]="['/search-candidates']"> Search By Technology</a>
  </span> -->
</div>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>

<h2 class="main-title">Search Candidates By Skills</h2>
<div class="utility-container">
  <div class="row mb-4">
    <div class="col-3">
      <ng-select [items]="skills" bindLabel="name" [multiple]="true" placeholder="OR Search" [addTag]="addCustom"
        [(ngModel)]="ORSkills">
      </ng-select>
    </div>
    <div class="col-3">
      <ng-select [items]="skills" bindLabel="name" [multiple]="true" placeholder="AND Search" [addTag]="addCustom"
        [(ngModel)]="ANDSkills">
      </ng-select>
    </div>
    <div class="col-3">
      <ng-select [items]="location" bindLabel="name" [multiple]="true" placeholder="Location" [addTag]="addCustom"
        [(ngModel)]="selectedLocation">
      </ng-select>
    </div>
    <div class="col-3">
      <ng-select [items]="workPermit" bindLabel="name" bindValue="value" [multiple]="true" placeholder="Work Permit"
        [(ngModel)]="selectedWorkPermit">
      </ng-select>
    </div>
    <div class="col-3">
      <ng-select [items]="immigration" bindLabel="visaName" bindValue="visaStatusId" [multiple]="true"
        placeholder="Visa Status" [(ngModel)]="selectedVisaStatus">
      </ng-select>
    </div>

    <div class="col-1" style="padding-top: 15px;padding-right: 5px;">
      <button class="btn btn-sm btn-primary" (click)="getTech();">Search</button>
    </div>
    <div class="col-3">
      <button *ngIf="localCandidateLength > 0  || diceCandidateLength > 0" class="btn btn-sm btn-primary"
        (click)="sendMail();">Send Group
        Email</button>
    </div>
  </div>

  <div class="mat-paginator-container" style="justify-content: space-between">
    <h5 class="candidate-list"><span
        style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{diceCandidateLength}}</span> Dice Candidates Found
    </h5>
    <mat-paginator [length]="diceCandidateLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
      (page)="getDicePaginatorData($event)">
    </mat-paginator>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let candidate of (diceCandidates | slice: lowValue : highValue)">
      <mat-expansion-panel-header>
        <mat-panel-title class="candidate-name">
          {{candidate.fullName}}
        </mat-panel-title>
        <mat-panel-description>
          <span *ngIf="candidate.city">
            <i class="fa fa-map-marker pl-2 pr-2" style="font-size:17px"> </i>{{candidate.city}}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-grid-list class="grid-list" cols="5" rowHeight="7:1">
        <mat-grid-tile class="grid-tile pl-2" *ngFor="let tech of candidate.skills">
          <span [innerHTML]="tech  | highlight:selectedQuery">{{tech}}</span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>


  <div class="mat-paginator-container mt-4" style="justify-content: space-between;">
    <h5 class="candidate-list"><span
        style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{localCandidateLength}}</span> Local Candidates Found
    </h5>
    <mat-paginator [length]="localCandidateLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"
      (page)="getLocalPaginatorData($event)">
    </mat-paginator>
  </div>
  <table class="table table-hover">
    <thead class="table-header">
      <tr>
        <th>Candidate Name</th>
        <th>Skills</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of (localCandidates | slice: lowValue : highValue)"
        [routerLink]="['/edit-candidate',candidate.candidateId]">
        <td>{{candidate.name}}</td>
        <td><span *ngFor="let skill of candidate.skills">
            <span>{{skill.name}}</span>
            <span *ngIf="candidate.skills.length > 1">,</span>
          </span></td>
        <td>{{candidate.location}}</td>
      </tr>
    </tbody>
    <!-- <ng-template #noCandidates>
      <tbody>
        <tr>
          <td>No Candidates yet.</td>
        </tr>
      </tbody>
    </ng-template> -->
  </table>

</div>
