<h2 class="main-title">
  <a [routerLink]="['/dice']">Dice</a> / Choose Dice Account</h2>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>
<div class="utility-container">

  <div class="row">
    <div class="col-4">
      <div *ngFor="let dice of diceAccount">
          <button type="button" class="btn btn-default" >{{dice.userName}}</button>
      </div>
      <!-- <select name="clientName" class="form-input">
        <option value="">Select</option>
        <option *ngFor="let dice of diceAccount" value="{{dice.diceId}}">{{dice.userName}}
        </option>
      </select> -->
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="setDiceAccount(myForm);">Set as Default</button>
    </div>
  </div>

</div>