.btn-space {
  margin-right: 1em;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: blck;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.panel {
  padding: .3em;
  background: rgb(241, 237, 237);
  color: blue;
  height: 30px;
}

.material-icons {
  color: red;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #c84e02;
}

.mat-radio-button {
  padding-right: 16px;
}

.mail-button {
  display: block;
}

.unit-container {
  padding-left: .2em;
}

.units {
  position: relative;
}

.units .add-btn {
  display: none;
}

.units:nth-child(n+2) .label {
  display: none;
}

.units:last-child .add-btn {
  display: inline-block;
}

.units:first-child .delete-btn {
  display: none;
}

.delete-btn {
  color: #dc3545 !important;
}

.unit-btn-container {
  padding-top: 1em;
}

.mat-icon {
  line-height: 34px;
}

.unit-container.ng-invalid,
.units>.form-row.ng-invalid {
  border-left: 0 !important;
}
