/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f9faff !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

.navigation-wrapper {
  width: 250px;
  order: 1;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

.page-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  min-height: 100%;
  overflow: hidden;
}

.header {
  font-weight: 400;
  color: rgb(43, 43, 51);
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: .5em;
}

.header-wrapper {
  background-color: #50b2eb;
  height: 80px;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.btn-default {
  background-color: #4d4d4d;
  color: #e1e1e1;
}

.container {
  padding: 1em;
}

.message {
  margin-top: 1em;
  font-size: 20px;
}

.form-control {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  padding: .4em;
  font-size: 1em;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.form-container {
  margin: 5em 0 5em 0;
  background: white;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  position: relative;
  padding: 1em;
}

.form-btn-container {
  text-align: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.2em;
}

.utility-container {
  margin: 1em 2em 2em 2em;
  background: white;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  position: relative;
  padding: 1em;
}

.dash-filter-container {
  margin: 1em 1em 1em 1em;
  background: white;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  position: relative;
  padding-left: .5em;
}

.dashboard-container {
  margin: 1em 1em 1em 1em;
  position: relative;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Raleway', sans-serif !important;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

.mat-full-length {
  width: 100%;
}

.forgot-password-container {
  background: #f9faff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.forgot-password-container>a {
  font-size: .800em;
  color: #4c7af1;
}

.sub-nav-wrapper {
  padding: .8em;
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
}

.sub-nav-link {
  font-size: .800em;
  text-transform: uppercase;
  font-weight: 700;
}

.table {
  font-family: 'Source Sans Pro', sans-serif;
}

.table tbody>tr {
  cursor: pointer;
}

.search-container {
  padding-top: 0 !important;
  padding-bottom: 1em !important;
  width: 20em;
  position: relative;
}

.table-header {
  background: #e8e9ef !important;
  color: #000000;
  text-transform: uppercase;
}

.table-header th {
  font-weight: 600;
  font-size: .900em;
}

/*.table tbody td {*/

/*padding: .50rem;*/

/*}*/

.table th {
  border-top: 0;
}

.search-icon {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #e8e9f0;
}

.table-wrapper .title {
  background: #cacaca;
  padding: .5em;
  margin: 0 !important;
  font-size: .900em;
  font-weight: 600;
}

.block-wrapper {
  margin-bottom: 2em;
  /*border: 1px dotted #CCC;*/
  /*box-shadow: 0px 1px 7px rgba(172, 172, 172, 0.3);*/
}

.block-wrapper>table {
  border: 1px dotted #CCC;
  box-shadow: 0px 1px 7px rgba(172, 172, 172, 0.3);
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.2em;
  margin: 1em 0 0 2em;
  font-weight: 600;
}

.main-title-dashboard {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.2em;
  margin: 1em 0 0 1em;
  font-weight: 600;
}

.form-textarea {
  text-indent: .5rem;
  border: 1px solid #cdcdcd;
  background-color: #fff !important;
  color: #3b3b3b;
  font-size: 14px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 0;
  vertical-align: sub;
  margin-top: 20px !important;
  overflow: none;
  transition: border .2s;
  -webkit-transition: border .2s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-input {
  text-indent: .5rem;
  border: 1px solid #cdcdcd;
  background-color: #fff !important;
  color: #3b3b3b;
  font-size: 14px;
  width: 100%;
  resize: none;
  outline: 0;
  height: 40px;
  padding: 8px 0;
  vertical-align: sub;
  margin-top: 20px !important;
  overflow: hidden;
  transition: border .2s;
  -webkit-transition: border .2s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-label {
  font-size: 14px;
  font-weight: 400;
  color: #383838;
  pointer-events: none;
  position: relative;
  z-index: 1;
  -webkit-transform: translate3d(0, 22px, 0) scale(1);
  transform: translate3d(0, 22px, 0) scale(1);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transition: 240ms;
}

.checkbox-wrapper {
  padding-top: 1.5em;
}

.checkbox-container {
  display: inline-block;
  padding-right: 1em;
  position: relative;
}

.checkbox {
  left: 0 !important;
}

.label {
  padding-left: 1.5em !important;
  margin-right: .5em;
  top: -2px;
  position: relative;
  font-weight: 100;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #3484c8;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #3484c8 !important;
}

.btn-forms {
  background: #50b2eb;
  border-color: #50b2eb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #FFFFFF;
}

.non-editable-content-top {
  background: #e8e8e8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5em;
  font-size: .900em;
}

.non-editable-label {
  font-weight: 600;
  display: inline-block;
  padding-right: .5em;
}

.block-header-label {
  display: inline-block;
  padding-right: .5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.form-wrapper {
  margin-top: 1em;
}

.read-only-text-input {
  background: none !important;
  border: none;
}

.read-only-text-select {
  -webkit-appearance: none;
  background: none !important;
  border: none;
}

.bold-text {
  font-weight: 600;
}

.push-left {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 1px !important;
}

.shade-col {
  background: #e6e6e6;
}

.shade-col-alt {
  background: #f1f1f1;
}

.divider {
  display: inline-block;
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid #d0d0d0;
}

.icon-subnav {
  position: relative;
  top: 5px;
  font-size: 19px;
  color: #3384c8;
}

.filter-wrapper {
  position: absolute;
  background: #ebebeb;
  width: 100%;
  top: 0;
  left: 0;
  padding: .5em;
}

.filter-wrapper>.search-container {
  padding-bottom: 0 !important;
}

.table {
  margin-bottom: 0 !important;
}

.meta-info-wrapper {
  border-bottom: 1px solid #50b2eb;
  padding-bottom: .5em;
  padding-left: .5em;
  margin-bottom: .5em;
  color: #3484c8;
}

.meta-info-content {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-right: 1em;
  color: #3484c8;
}

.form-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  border-bottom: 1px solid #3484c8;
  padding-bottom: .5em;
  margin-bottom: .5em;
  padding-top: 1em;
  color: #636363;
}

.icon-attachment {
  font-size: 22px;
}

.icon-attachment>i {
  vertical-align: middle;
}

.btn-secondary {
  cursor: pointer;
}

.filter-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em;
  background: #e8e9ee;
  width: 100%;
}

.filter-container .mat-form-field-wrapper {
  width: 125px;
  margin-right: 15px;
}

.divider-right {
  border-right: 1px solid #aeaeaf;
}

.width-200 {
  width: 200px;
}

.filter-container a {
  color: #FFFFFF !important;
}

.col-block {
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  padding: 1em;
  position: relative;
  height: 350px;
  background: #FFFFFF;
}

.width-98 {
  margin-right: 15px;
}

.tick.ng-star-inserted>text {
  transform: rotate(-60deg);
  text-anchor: end;
}

.chart-align-100-400 {
  width: 100%;
  min-height: 300px;
}

.chart-title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em .5em .5em 1em;
  width: 100%;
}

.chart-title {
  font-size: 1em;
  text-transform: uppercase;
}

.chart-label {
  display: inline;
  width: 100px;
}

.filter-container-dashboard {
  position: absolute;
  top: 0;
  right: 1em;
}

.height-400 {
  height: 400px;
}

.height-450 {
  height: 450px;
}

.height-300 {
  height: 300px;
}

.height-200 {
  height: 200px;
}

.height-100 {
  height: 100px;
}

.table-report th {
  text-align: center;
}

.chart-additional-item {
  position: absolute;
  top: 34px;
  text-transform: uppercase;
  font-size: .900em;
}

.ngx-charts .tick.ng-star-inserted>text {
  font-size: .900em !important;
}

.multi .ngx-charts .tick.ng-star-inserted>text {
  transform: rotate(0deg) !important;
  text-anchor: middle;
}

.chat-body {
  background: #f2f2f2;
  max-height: 250px;
  overflow-y: auto;
  padding: .5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.chat-legend {
  font-size: .900em;
  border-top: 1px dashed #989898;
  margin-top: 2em;
  position: relative;
}

.chat-item:first-child .chat-legend {
  margin-top: .5em;
}

.chat-meta {
  padding: .2em 1em .2em 0;
  position: absolute;
  top: -15px;
  font-weight: 500;
  text-align: center;
  display: block;
  width: 100%;
}

.chat-meta .chat-meta-items {
  background: #f2f2f2;
  display: inline-block;
  padding: 0 .5em;
}

.chart-scroll-wrapper {
  overflow-y: auto;
  max-height: 290px;
}
