/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f9faff !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}
.navigation-wrapper {
  width: 250px;
  order: 1;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

.page-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  min-height: 100%;
  overflow: hidden;
}

.header {
  font-weight: 400;
  color: rgb(43, 43, 51);
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: .5em;
}

.header-wrapper {
  background-color: #50b2eb;
  height: 80px;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.btn-default {
  background-color: #4d4d4d;
  color: #e1e1e1;
}

.container {
  padding: 1em;
}

.message {
  margin-top: 1em;
  font-size: 20px;
}

.form-control {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  padding: .4em;
  font-size: 1em;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.form-container {
  margin: 5em 0 5em 0;
  background: white;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  position: relative;
  padding: 1em;
}

.form-btn-container {
  text-align: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.2em;
}

.utility-container {
  margin: 1em 2em 2em 2em;
  background: white;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  position: relative;
  padding: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

.mat-full-length {
  width: 100%;
}

.forgot-password-container {
  background: #f9faff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.forgot-password-container > a {
  font-size: .800em;
  color: #4c7af1;
}

.sub-nav-wrapper {
  padding: .8em;
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
}

.sub-nav-link {
  font-size: .800em;
  text-transform: uppercase;
}

.table {
  font-family: 'Source Sans Pro', sans-serif;
}

.table tbody > tr {
  cursor: pointer;
}

.search-container {
  padding-top: 0 !important;
  padding-bottom: 1em !important;
  width: 20em;
  position: relative;
}

.table-header {
  background: #e8e9ef;
  color: #000000;
  text-transform: uppercase;
}

.table-header th {
  font-weight: 600;
  font-size: .900em;
}

.table tbody td {
  padding: .50rem;
}

.table th {
  border-top: 0;
}

.search-icon {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #e8e9f0;
}

.table-wrapper .title {
  background: #deeaf1;
  padding: .5em;
  margin: 0 !important;
  font-size: .900em;
  font-weight: 600;
}

.block-wrapper {
  margin-bottom: 2em;
  border: 1px dotted #CCC;
  box-shadow: 0px 1px 7px rgba(172, 172, 172, 0.3);
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.2em;
  margin: 1em 0 0 2em;
  font-weight: 600;
}
