<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<h2 class="main-title"><a [routerLink]="['/submissions']">Submissions</a> / Interview History</h2>
<div class="utility-container">
  <div class="filter-container">
    <div class="row">
      <div class="col-4 divider-right">
        <div class="row mt-2">
          <div class="col-4">
            <mat-form-field>
              <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate" placeholder="From Date">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <input matInput [matDatepicker]="toDate" [(ngModel)]="currentDate" placeholder="To Date">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-4 mt-3">
            <button class="btn btn-sm btn-primary" (click)="filterByDate();">Show Results</button>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="row mt-3">
          <div class="col-6">
            <select class="form-control width-200" (change)="filterBy($event.target.value)" [(ngModel)]="filter">
              <option value="" selected>Filter By</option>
              <option value="team">Team</option>
              <option value="client">Client</option>
              <option value="recruiter">Recruiter</option>
              <!-- <option value="interviewStatus">Interview Status</option> -->
            </select>
          </div>

          <div *ngIf="isTeam" class="col-6 width-200">
            <select class="form-control" (change)="selectTeam($event.target.value)" [(ngModel)]="team">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let team of teams" value="{{team.teamId}}">{{team.name}}</option>
            </select>
          </div>

          <div *ngIf="isClient" class="col-6 width-200">
            <select class="form-control" (change)="selectClient($event.target.value)" [(ngModel)]="client">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let client of clients" value="{{client.clientId}}">{{client.name}}</option>
            </select>
          </div>

          <div *ngIf="isRecruiter" class="col-6 width-200">
            <select class="form-control" (change)="selectRecruiter($event.target.value)" [(ngModel)]="recruiter">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let user of teamUsers" value="{{user.userId}}">{{user.firstName}} {{user.lastName}}</option>
            </select>
          </div>

          <!-- <div *ngIf="isInterviewStatus" class="col-6 width-200">
            <select class="form-control" (change)="selectInterviewStatus($event.target.value)" [(ngModel)]="interviewStatus">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option value="IN-PROGRESS">In-Progress</option>
              <option value="HOLD">Hold</option>
              <option value="CLOSED">Closed</option>
            </select>
          </div> -->
        </div>
      </div>

    </div>
  </div>

  <div class="mt-5 pt-5">
    <h6>Total {{interviewReportLength}} Results</h6>
  </div>

  <div *ngIf="userRole !== 'RECRUITER'">
    <table class="table table-hover table-bordered table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="candidateName">Candidate Name</th>
          <th mat-sort-header="clientName">Client Name</th>
          <th mat-sort-header="InterviewDateTime">Interview Date & Time</th>
          <!-- <th mat-sort-header="InterviewLevel">Interview level</th> -->
          <th mat-sort-header="InterviewStatus">Interview Status</th>
          <th mat-sort-header="recruiterName">Recruiter Name</th>
          <th mat-sort-header="skype">Skype</th>
          <th mat-sort-header="phoneNumber">Phone Number</th>
          <th mat-sort-header="currentStatus">Current Status</th>         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of sortedData" [routerLink]="['/edit-submission', submission.submissionId]">
          <td>{{submission.position.positionName}}</td>
          <td>{{submission.candidate.name}}</td>
          <td>{{submission.client.name}}</td>
          <td>{{submission.interviewDateStr | date: 'MMM d, y, hh:mm a'}}</td>
          <!-- <td>{{submission.interviewLevel}}</td> -->
          <td>{{submission.interviewStatus}}</td>
          <td>{{submission.recruiter.firstName}} {{submission.recruiter.lastName}}</td>
          <td>{{submission.candidate.skype}}</td>
          <td>{{submission.candidate.phoneNumber}}</td>
          <td>{{submission.currentStatus}}</td>       
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userRole === 'RECRUITER'">
    <table class="table table-hover table-bordered table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="candidateName">Candidate Name</th>
          <th mat-sort-header="clientName">Client Name</th>
          <th mat-sort-header="InterviewDateTime">Interview Date & Time</th>
          <!-- <th mat-sort-header="InterviewLevel">Interview level</th> -->
          <th mat-sort-header="InterviewStatus">Interview Status</th>
          <th mat-sort-header="recruiterName">Recruiter Name</th>
          <th mat-sort-header="skype">Skype</th>
          <th mat-sort-header="phoneNumber">Phone Number</th>
          <th mat-sort-header="currentStatus">Current Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of sortedData" [routerLink]="['/recruiter-edit-submissions', submission.submissionId]">
          <td>{{submission.position.positionName}}</td>
          <td>{{submission.candidate.name}}</td>
          <td>{{submission.client.name}}</td>
          <td>{{submission.interviewDateStr | date: 'MMM d, y, hh:mm a'}}</td>
          <!-- <td>{{submission.interviewLevel}}</td> -->
          <td>{{submission.interviewStatus}}</td>
          <td>{{submission.recruiter.firstName}} {{submission.recruiter.lastName}}</td>
          <td>{{submission.candidate.skype}}</td>
          <td>{{submission.candidate.phoneNumber}}</td>
          <td>{{submission.currentStatus}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>