.forgot-container {
  margin-left: 22em;
  margin-right: 22em;
  background: white;
  -webkit-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  -moz-box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  box-shadow: 0 0 7px rgba(172, 172, 172, 0.7);
  position: relative;
  padding: 1em;
}
