<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<div class="container">
  <div class="row justify-content-center pt-5">
    <h1 class="col col-4 title text-center pt-2 pb-2">Forgot Password</h1>
    <div class="col col-4 pt-5 pb-5 forgot-container">
      <div class="col col-12 ">
        <form [formGroup]="myForm" (ngSubmit)="resetPassword(myForm)">
          <div class="mb-2">
            <label for="email">Email address:</label>
            <input type="email" class="form-input" id="email" name="email" formControlName="email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Submit your email address, We'll send the password reset
              link.</small>
          </div>
          <a [routerLink]="['/login']" class="btn">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
