<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<h2 *ngIf="userRole !== 'HR_MANAGER'" class="main-title"><a [routerLink]="['/submissions']">Submissions</a> / OnBoard
  Reminder</h2>
<h2 *ngIf="userRole === 'HR_MANAGER'" class="main-title">OnBoard Reminder</h2>
<div class="utility-container">

  <div class="filter-container">
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate" placeholder="From Date">
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4 mt-3">
        <button class="btn btn-sm btn-primary" (click)="filterByDate();">Show Results</button>
      </div>
    </div>
  </div>

  <div class="mt-5 pt-5">
    <h6>Total {{interviewsLength}} Results</h6>
  </div>

  <div *ngIf="userRole === 'ADMIN' || userRole === 'TL' || userRole === 'ACC_MGR' || userRole === 'HR_MANAGER'">
    <table class="table table-hover table-bordered table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="candidateName">Candidate Name</th>
          <th mat-sort-header="clientName">Client Name</th>
          <th mat-sort-header="joiningDate">Joining Date</th>
          <th mat-sort-header="recruiterName">Recruiter Name</th>
          <th mat-sort-header="interviewStatus">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of sortedData" [routerLink]="['/edit-submission', submission.submissionId]">
          <td>{{submission.position.positionName}}</td>
          <td>{{submission.candidate.name}}</td>
          <td>{{submission.client.name}}</td>
          <td>{{submission.joiningDateStr | date: 'MMM d, y'}}</td>
          <td>{{submission.recruiter.firstName}} {{submission.recruiter.lastName}}</td>
          <td>{{submission.interviewDetailStatus}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userRole === 'RECRUITER'">
    <table class=" table table-hover table-bordered table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="candidateName">Candidate Name</th>
          <th mat-sort-header="clientName">Client Name</th>
          <th mat-sort-header="joiningDate">Joining Date</th>
          <th mat-sort-header="recruiterName">Recruiter Name</th>
          <th mat-sort-header="interviewStatus">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of sortedData" [routerLink]="['/recruiter-edit-submissions', submission.submissionId]">
          <td>{{submission.position.positionName}}</td>
          <td>{{submission.candidate.name}}</td>
          <td>{{submission.client.name}}</td>
          <td>{{submission.joiningDateStr | date: 'MMM d, y'}}</td>
          <td>{{submission.recruiter.firstName}} {{submission.recruiter.lastName}}</td>
          <td>{{submission.interviewDetailStatus}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>