.search-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.search-container .text-input {
  width: 300px;
}

.table-header {
  background-color: #e1e1e1;
  color: rgb(32, 28, 28);
  text-transform: uppercase;
}

.allocation-name {
  font-size: 17px;
  text-transform: capitalize;
  color: rgb(70, 104, 117);
  display: block;
}
