<div class="sub-nav-wrapper" *ngIf="userRole ==='ADMIN' || userRole ==='ACC_MGR'">
  <a class="sub-nav-link" [routerLink]="['/add-team']">Add New Team</a>
</div>
<div class="utility-container">
  <div *ngIf="userRole === 'ADMIN'">
    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by First Name" name="searchString " [(ngModel)]="searchString">
    </div>

    <div *ngIf="teamLength > 0 ; else noTeams">
      <div *ngFor="let team of teams">
        <p class="title">{{team.name}}
          <i class="allocation-name"> Account Manager: {{team.accountManager.firstName}} {{team.accountManager.lastName}} (Lead User: {{team.leadUser.firstName}}
            {{team.leadUser.lastName}})
          </i>
        </p>
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody *ngIf="team.otherUsers.length > 0 ; else noUser">
            <tr *ngFor="let user of team.otherUsers | filter:searchString">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td *ngIf="user.role === 'ACC_MGR' ; else Others">ACCOUNT MANAGER</td>
              <ng-template #Others>
                <td>{{user.role}}</td>
              </ng-template>
            </tr>
          </tbody>
          <ng-template #noUser>
            <tbody>
              <tr>
                <td>No Users yet, Please Add User to your team.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
    <ng-template #noTeams>
      <p class="message">No Teams yet, Please click Add Team to add a new team.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole === 'ACC_MGR'">

    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by First Name" name="searchString " [(ngModel)]="searchString">
    </div>

    <div *ngIf="teamLength > 0 ; else noTeams">
      <div *ngFor="let team of teams">
        <p class="title">{{team.name}}
          <i class="allocation-name"> Account Manager: {{team.accountManager.firstName}} {{team.accountManager.lastName}} (Lead User: {{team.leadUser.firstName}}
            {{team.leadUser.lastName}})
          </i>
        </p>
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody *ngIf="team.otherUsers.length > 0 ; else noUser">
            <tr *ngFor="let user of team.otherUsers | filter:searchString">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td *ngIf="user.role === 'ACC_MGR' ; else Others">ACCOUNT MANAGER</td>
              <ng-template #Others>
                <td>{{user.role}}</td>
              </ng-template>
            </tr>
          </tbody>
          <ng-template #noUser>
            <tbody>
              <tr>
                <td>No Users yet, Please Add User to your team.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
    <ng-template #noTeams>
      <p class="message">No Teams yet, Please click Add Team to add a new team.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole === 'TL'">

    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by First Name" name="searchString " [(ngModel)]="searchString">
    </div>

    <div *ngIf="teamLength > 0 ; else noTeams">
      <div *ngFor="let team of teams">
        <p class="title">{{team.name}}
          <i class="allocation-name"> Account Manager: {{team.accountManager.firstName}} {{team.accountManager.lastName}} (Lead User: {{team.leadUser.firstName}}
            {{team.leadUser.lastName}})
          </i>
        </p>
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody *ngIf="team.otherUsers.length > 0 ; else noUser">
            <tr *ngFor="let user of team.otherUsers | filter:searchString">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td *ngIf="user.role === 'ACC_MGR' ; else Others">ACCOUNT MANAGER</td>
              <ng-template #Others>
                <td>{{user.role}}</td>
              </ng-template>
            </tr>
          </tbody>
          <ng-template #noUser>
            <tbody>
              <tr>
                <td>No Users yet, Please Add User to your team.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
    <ng-template #noTeams>
      <p class="message">No Teams yet, Please click Add Team to add a new team.</p>
    </ng-template>
  </div>
</div>
