<div class="sub-nav-wrapper" *ngIf="userRole ==='ADMIN' || userRole ==='ACC_MGR'">
  <a class="sub-nav-link" [routerLink]="['/add-team']">Add New Team</a>
</div>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>

<h2 class="main-title">Manage Teams</h2>
<div class="utility-container">
  <div *ngIf="userRole === 'ADMIN'">
    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by First Name" name="searchString "
        [(ngModel)]="searchString">
    </div>

    <div class="table-wrapper" *ngIf="teamLength > 0 ; else noTeams">
      <div class="block-wrapper" *ngFor="let team of teams">
        <div class="meta-info-wrapper">
          <div class="row">
            <div class="col-sm-10">
              <span class="meta-info-content">{{team.name}} -</span>
              <span class="block-header-label">Account Manager: </span>
              <span class="meta-info-content">{{team.accountManager.firstName}} {{team.accountManager.lastName}},
              </span>
              <span class="block-header-label">TL:</span>
              <span class="meta-info-content">{{team.leadUser.firstName}} {{team.leadUser.lastName}} </span>
            </div>
            <div class="col-sm-2 text-right">
              <a class="btn btn-sm btn-forms" [routerLink]="['/edit-team',team.teamId]">Edit Team</a>
              <button class="btn btn-sm btn-forms ml-2" (click)="deleteTeam(team.teamId);">Delete Team</button>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody *ngIf="team.otherUsers.length > 0 ; else noUser">
            <tr *ngFor="let user of team.otherUsers | filter:searchString">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td *ngIf="user.role === 'ACC_MGR' ; else Others">ACCOUNT MANAGER</td>
              <ng-template #Others>
                <td>{{user.role}}</td>
              </ng-template>
            </tr>
          </tbody>
          <ng-template #noUser>
            <tbody>
              <tr>
                <td>No Users yet, Please Add User to your team.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
    <ng-template #noTeams>
      <p class="message">No Teams yet, Please click Add Team to add a new team.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole === 'ACC_MGR'">

    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by First Name" name="searchString "
        [(ngModel)]="searchString">
    </div>

    <div class="table-wrapper" *ngIf="teamLength > 0 ; else noTeams">
      <div class="block-wrapper" *ngFor="let team of teams">
        <div class="meta-info-wrapper">
          <div class="row">
            <div class="col-sm-10">
              <span class="meta-info-content">{{team.name}} -</span>
              <span class="block-header-label">Account Manager: </span>
              <span class="meta-info-content">{{team.accountManager.firstName}} {{team.accountManager.lastName}},
              </span>
              <span class="block-header-label">TL:</span>
              <span class="meta-info-content">{{team.leadUser.firstName}} {{team.leadUser.lastName}} </span>
            </div>
            <div class="col-sm-2 text-right">
              <a class="btn btn-sm btn-forms" [routerLink]="['/edit-team',team.teamId]">Edit Team</a>
              <button class="btn btn-sm btn-forms ml-2" (click)="deleteTeam(team.teamId);">Delete Team</button>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody *ngIf="team.otherUsers.length > 0 ; else noUser">
            <tr *ngFor="let user of team.otherUsers | filter:searchString">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td *ngIf="user.role === 'ACC_MGR' ; else Others">ACCOUNT MANAGER</td>
              <ng-template #Others>
                <td>{{user.role}}</td>
              </ng-template>
            </tr>
          </tbody>
          <ng-template #noUser>
            <tbody>
              <tr>
                <td>No Users yet, Please Add User to your team.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
    <ng-template #noTeams>
      <p class="message">No Teams yet, Please click Add Team to add a new team.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole === 'TL'">

    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by First Name" name="searchString "
        [(ngModel)]="searchString">
    </div>

    <div class="table-wrapper" *ngIf="teamLength > 0 ; else noTeams">
      <div class="block-wrapper" *ngFor="let team of teams">
        <div class="meta-info-wrapper">
          <div class="row">
            <div class="col-sm-10">
              <span class="meta-info-content">{{team.name}} -</span>
              <span class="block-header-label">Account Manager: </span>
              <span class="meta-info-content">{{team.accountManager.firstName}} {{team.accountManager.lastName}},
              </span>
              <span class="block-header-label">TL:</span>
              <span class="meta-info-content">{{team.leadUser.firstName}} {{team.leadUser.lastName}} </span>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody *ngIf="team.otherUsers.length > 0 ; else noUser">
            <tr *ngFor="let user of team.otherUsers | filter:searchString">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td *ngIf="user.role === 'ACC_MGR' ; else Others">ACCOUNT MANAGER</td>
              <ng-template #Others>
                <td>{{user.role}}</td>
              </ng-template>
            </tr>
          </tbody>
          <ng-template #noUser>
            <tbody>
              <tr>
                <td>No Users yet, Please Add User to your team.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
    <ng-template #noTeams>
      <p class="message">No Teams yet, Please click Add Team to add a new team.</p>
    </ng-template>
  </div>
</div>
