<h2 class="main-title-dashboard">Dashboard</h2>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>
<div class="dash-filter-container">
  <div class="row">
    <div class="col-8">
      <div class="row mt-2">
        <div class="col-3">
          <mat-form-field>
            <input matInput [min]="minDate" [matDatepicker]="fromDatePicker" [(ngModel)]="startDate"
              placeholder="From Date">
            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput [matDatepicker]="toDatePicker" [(ngModel)]="currentDate" placeholder="To Date">
            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-2 mt-3">
          <button class="btn btn-sm btn-primary" (click)="dateFilter();">Show Results</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-container mt-3">

  <div class="row mt-4">
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">{{noSubmissionsRequirementLength}} Reqs. with 0 submissions</h2>
        </div>
        <div class="chart-scroll-wrapper">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th>Created On</th>
                <th>Position Name</th>
                <th>Client</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let require of noSubmissionsRequirement"
                [routerLink]="['/edit-requirement',require.requirementId]">
                <td style="width:110px">{{require.createdOn | date: 'MMM d, y,'}}</td>
                <td>{{require.position.positionName}}</td>
                <td>{{require.client.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Client Open Requirements</h2>
        </div>
        <div class="chart-align-100-400">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="clientOpenRequitements"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisClientLabel"
            [showDataLabel]="showDataLabel" (select)="onClientSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Client wise submission status</h2>
        </div>
        <div class="chart-align-100-400">
          <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorSchemeMultiBar2"
            [results]="clientWiseSubmissionStatus" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [showDataLabel]="showDataLabel" (select)="onClientSubmissionStatus($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row mt-4">
    <div class="col-6">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team wise submission status</h2>
        </div>
        <div class="chart-align-100-400 multi">
          <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorSchemeMultiBar1"
            [results]="totalSubmissionByTeam" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [showDataLabel]="showDataLabel" (select)="onTeamSubmissionStatus($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team Comparison</h2>
        </div>
        <div class="chart-align-100-400 multi">
          <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorSchemeMultiBar4" [results]="teamComparison"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel"
            (select)="onTeamComparison($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row mt-4">
    <div class="col-6">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team wise submission status</h2>
        </div>
        <div class="chart-scroll-wrapper">
          <table class="table table-hover table-bordered table-sm" matSort (matSortChange)="sortTeam($event)">
            <thead class="table-header">
              <tr>
                <th>Team Name</th>
                <th>Submitted</th>
                <th>Approved</th>
                <th>IN-Progress</th>
                <th>Rejected</th>
                <th>Closed</th>
                <th mat-sort-header="total">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of sortTeamData">
                <td>{{team.name}}</td>
                <td *ngFor="let series of team.series">{{series.value}}</td>
                <td>{{team.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team Comparison</h2>
        </div>
        <div class="chart-scroll-wrapper">
          <table class="table table-hover table-bordered table-sm" matSort (matSortChange)="sortTeamComparison($event)">
            <thead class="table-header">
              <tr>
                <th>Team Name</th>
                <th>Submitted</th>
                <th>Interviewed</th>
                <th>Rejections</th>
                <th>Closed</th>
                <th mat-sort-header="total">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of sortTeamComparisonData">
                <td>{{team.name}}</td>
                <td *ngFor="let series of team.series">{{series.value}}</td>
                <td>{{team.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team wise submission count</h2>
        </div>
        <!-- <div class="chart-align-100-400">
          <ngx-charts-pie-chart [view]="view" [scheme]="colorSchemePie" [results]="totalSubmissionByTeam"
            [gradient]="gradient" [labels]="show" [doughnut]="show" (select)="onTeamSelect($event)">
          </ngx-charts-pie-chart>
        </div>
        <div class="chart-pie-meta">
          <div *ngFor="let meta of totalSubmissionByTeam">
            <span *ngIf="meta.value === 0; else metaTemplate"></span>
            <ng-template #metaTemplate>{{meta.name}} : {{meta.value}}</ng-template>
          </div>
        </div> -->
        <div class="chart-align-100-400">
          <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorSchemePie" [results]="totalSubmissionByTeam"
            [gradient]="gradient" (select)="onTeamSelect($event)">
          </ngx-charts-advanced-pie-chart>
        </div>
        <!-- <div>
          <div class="chart-additional-item"><span class="chart-label">Total Submissions: </span><span
              class="chart-result">{{totalSubmission}}</span></div>
        </div> -->
      </div>
    </div>
    <div class="col-sm-8">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Recruiters Submission Status</h2>
        </div>
        <div class="chart-align-100-400">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="recruitersSubmissions"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [showDataLabel]="showDataLabel" (select)="onUserSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Recruiter Comparison</h2>
        </div>
        <div class="chart-align-100-400">
          <ngx-charts-bar-vertical-stacked [view]="view" [scheme]="colorSchemeMultiBar3" [results]="recruiterComparison"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel"
            (select)="onRecruiterComparison($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Recruiter Comparison Table</h2>
        </div>
        <div class="chart-scroll-wrapper">
          <table class="table table-hover table-bordered table-sm" matSort
            (matSortChange)="sortRecruiterComparation($event)">
            <thead class="table-header">
              <tr>
                <th mat-sort-header="recruiterName">Recruiter Name</th>
                <th mat-sort-header="submitted">Submitted</th>
                <th>Interview Rejections</th>
                <th>Rejections</th>
                <th mat-sort-header="submittedPercentage">Submitted Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recruiter of sortedRecruiterComparationData">
                <td>{{recruiter.name}}</td>
                <td *ngFor="let series of recruiter.series">{{series.value}}</td>
                <td>{{recruiter.submittedPercentage | number:'1.0-0'}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="col-block pt-5 mb-4">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Scheduled Interviews</h2>
          <p class="pull-right mr-2"> <a class="chart-button" [routerLink]="['/in-progress-interviews']"><b>View
                all</b></a>
            IN-Progress Interviews</p>
        </div>
        <h2 class="chart-title"> Total {{interviewReportLength}} Results</h2>
        <div class="chart-scroll-wrapper">
          <table class="table table-hover table-bordered table-sm" matSort (matSortChange)="sortData($event)">
            <thead class="table-header">
              <tr>
                <th mat-sort-header="positionName">Position Name</th>
                <th mat-sort-header="candidateName">Candidate Name</th>
                <th mat-sort-header="clientName">Client Name</th>
                <th mat-sort-header="InterviewDateTime">Interview Date & Time</th>
                <th mat-sort-header="InterviewLevel">Interview level</th>
                <th mat-sort-header="recruiterName">Recruiter Name</th>
                <th mat-sort-header="skype">Skype</th>
                <th mat-sort-header="phoneNumber">Phone Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let submission of sortedData" [routerLink]="['/edit-submission', submission.submissionId]">
                <td>{{submission.position.positionName}}</td>
                <td>{{submission.candidate.name}}</td>
                <td>{{submission.client.name}}</td>
                <td>{{submission.interviewDateStr | date: 'MMM d, y, hh:mm a'}}</td>
                <td>{{submission.interviewLevel}}</td>
                <td>{{submission.recruiter.firstName}} {{submission.recruiter.lastName}}</td>
                <td>{{submission.candidate.skype}}</td>
                <td>{{submission.candidate.phoneNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>