<h2 class="main-title-dashboard">Dashboard</h2>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<div class="dash-filter-container">
  <div class="row">
    <div class="col-8">
      <div class="row mt-2">
        <div class="col-3">
          <mat-form-field>
            <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="fromDate" placeholder="From Date">
            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #fromDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput [matDatepicker]="toDatePicker" [(ngModel)]="currentDate" placeholder="To Date">
            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #toDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1 mt-3">
          <button class="btn btn-sm btn-primary" (click)="dateFilter();">Show Results</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-container mt-3">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Recruiters Submission Status</h2>
        </div>
        <div class="chart-align-100-400">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="recruitersSubmissions" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel" (select)="onUserSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team wise submission count</h2>
        </div>
        <div class="chart-align-100-400">
          <ngx-charts-pie-chart [view]="view" [scheme]="colorSchemePie" [results]="totalSubmissionByTeam" [gradient]="gradient"
            [labels]="show" [doughnut]="show" (select)="onTeamSelect($event)">
          </ngx-charts-pie-chart>
        </div>
        <div class="chart-pie-meta">
          <div *ngFor="let meta of totalSubmissionByTeam">
            <span *ngIf="meta.value === 0; else metaTemplate"></span>
            <ng-template #metaTemplate>{{meta.name}} : {{meta.value}}</ng-template>
          </div>
        </div>
        <div>
          <div class="chart-additional-item"><span class="chart-label">Total Submissions: </span><span class="chart-result">{{totalSubmission}}</span></div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">{{noSubmissionsRequirementLength}} Reqs. with 0 submissions</h2>
        </div>
        <div class="chart-scroll-wrapper">
          <table class="table table-sm table-bordered table-striped">
            <thead class="table-header">
              <tr>
                <th>Position Name</th>
                <th>Client</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let require of noSubmissionsRequirement" [routerLink]="['/edit-requirement',require.requirementId]">
                <td>{{require.position.positionName}}</td>
                <td>{{require.client.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Client Open Requirements</h2>
        </div>
        <div class="chart-align-100-400">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="clientOpenRequitements" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisClientLabel" [showDataLabel]="showDataLabel" (select)="onClientSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team wise submission status</h2>
        </div>
        <div class="chart-align-100-400 multi">
          <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorSchemeMultiBar1" [results]="totalSubmissionByTeam"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel" (select)="onTeamSubmissionStatus($event)">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Client wise submission status</h2>
        </div>
        <div class="chart-align-100-400 multi">
          <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorSchemeMultiBar2" [results]="clientWiseSubmissionStatus"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel" (select)="onClientSubmissionStatus($event)">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-8">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Recruiter Comparison</h2>
        </div>
        <div class="chart-align-100-400 multi">
          <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorSchemeMultiBar3" [results]="recruiterComparison"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel" (select)="onRecruiterComparison($event)">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-block pt-5">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Team Comparison</h2>
        </div>
        <div class="chart-align-100-400 multi">
          <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorSchemeMultiBar4" [results]="teamComparison"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel" (select)="onTeamComparison($event)">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="col-block pt-5 mb-4">
        <div class="chart-title-wrapper">
          <h2 class="chart-title">Scheduled Interviews</h2>
        </div>
         <h2 class="chart-title"> Total {{interviewReportLength}} Results</h2>
        <div class="chart-scroll-wrapper">
          <table class="table table-hover table-sm table-bordered">
            <thead class="table-header">
              <tr>
                <th>Position Name</th>
                <th>Candidate Name</th>
                <th>Client Name</th>
                <th>Interview Date & Time</th>
                <th>Interview Level</th>
                <th>Recruiter Name</th>
                <th>Skype</th>
                <th>Phone Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let submission of interviewReport" [routerLink]="['/edit-submission', submission.submissionId]">
                <td>{{submission.positionName}}</td>
                <td>{{submission.candidateName}}</td>
                <td>{{submission.clientName}}</td>
                <td>{{submission.interviewDateStr | date: 'MMM d, y, hh:mm a'}}</td>
                <td>{{submission.interviewLevel}}</td>
                <td>{{submission.recruiterName}}</td>
                <td>{{submission.skypeId}}</td>
                <td>{{submission.phoneNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
