<h2 class="main-title">
  <a [routerLink]="['/manage-candidate']">Manage Candidates</a> / Add New Candidate</h2>
<div class="utility-container">
  <form [formGroup]="myForm" (ngSubmit)="addNewCandidate(myForm)">

    <div class="row pt-3">
      <div class="col-6">
        <div class="form-group row">
          <label for="name" class="col-sm-4 col-form-label">Name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="name" formControlName="name" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Email:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="email" formControlName="email" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="phoneNumber" class="col-sm-4 col-form-label">Phone Number:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="location" class="col-sm-4 col-form-label">Location:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="location" formControlName="location" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="availability" class="col-sm-4 col-form-label">Availability:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="availability" formControlName="availability" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="immigirationStatus" class="col-sm-4 col-form-label">Immigiration Status:</label>
          <div class="col-sm-7">
            <mat-radio-group (change)="getImmigiration($event)" formControlName="immigirationStatus">
              <mat-radio-button value="GC">GC</mat-radio-button>
              <mat-radio-button value="CITIZEN">CITIZEN</mat-radio-button>
              <mat-radio-button value="H1B">H1B</mat-radio-button>
              <mat-radio-button value="W1/1099">W2/1099</mat-radio-button>
              <mat-radio-button value="OPT/CPT">OPT/CPT</mat-radio-button>
              <mat-radio-button value="EAD">EAD</mat-radio-button>
              <mat-radio-button value="H4AD">H4AD</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="form-group row">
          <label for="technologies" class="col-sm-4 col-form-label">Technologies:</label>
          <div class="col-sm-7">
            <select name="technologies" class="form-control" formControlName="technologies" (change)="addTechnology($event.target.value);"
              required>
              <option value="">Select</option>
              <option *ngFor="let tech of technologies" value="{{tech.technologyId}}">{{tech.technologyName}}</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="isOtherTechnology">
          <label for="otherTechnology" class="col-sm-4 col-form-label"></label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="otherTechnology" formControlName="otherTechnology" placeholder=" Enter the Technology"
              required>
          </div>
        </div>


        <div class="form-group row">
          <label for="skype" class="col-sm-4 col-form-label">Skype:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="skype" formControlName="skype">
          </div>
        </div>

        <div class="form-group row">
          <label for="linkedIn" class="col-sm-4 col-form-label">LinkedIn:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="linkedIn" formControlName="linkedIn">
          </div>
        </div>

        <div class="form-group row">
          <label for="relocate" class="col-sm-4 col-form-label">Willing To Relocate:</label>
          <div class="col-sm-7">
            <mat-radio-group formControlName="relocate" (change)="relocate($event);">
              <mat-radio-button value="true" checked>Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="form-group row">
          <label for="resonForChange" class="col-sm-4 col-form-label">Reson For Change:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="resonForChange" formControlName="resonForChange">
          </div>
        </div>

        <div class="form-group row">
          <label for="interview" class="col-sm-4 col-form-label">Availability For Inteview:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="interview" formControlName="interview">
          </div>
        </div>

        <div class="form-group row">
          <label for="experience" class="col-sm-4 col-form-label">Relevant Experience:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="experience" formControlName="experience">
          </div>
        </div>

        <div class="form-group row">
          <label for="totalExperience" class="col-sm-4 col-form-label">Total Experience:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="totalExperience" formControlName="totalExperience">
          </div>
        </div>

        <div class="form-group row">
          <label for="currentCompany" class="col-sm-4 col-form-label">Current Company:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="currentCompany" formControlName="currentCompany">
          </div>
        </div>

        <div class="form-group row">
          <label for="epNumber" class="col-sm-4 col-form-label">EP Number:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="epNumber" formControlName="epNumber">
          </div>
        </div>

        <div class="form-group row">
          <label for="authorizedWorkInUs" class="col-sm-4 col-form-label">Authorized work in US:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="authorizedWorkInUs" formControlName="authorizedWorkInUs">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Have you ever worked with Client:
          </label>
          <div class="col-sm-7">
            <mat-radio-group (change)="getWorkedWithClient($event)">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="form-group row" *ngIf="isWorkedWithClient">
          <label for="workedClient" class="col-sm-4 col-form-label">If yes please mention Full Time or contract</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="workedClient" formControlName="workedClient">
          </div>
        </div>


        <div class="form-group row">
          <label for="anotherInterviewOffer" class="col-sm-4 col-form-label">Any interview or Offer in hand or offered from another client:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="anotherInterviewOffer" formControlName="anotherInterviewOffer">
          </div>
        </div>

        <div class="form-group row">
          <label for="vacationPlans" class="col-sm-4 col-form-label">Vacation plans, if any:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="vacationPlans" formControlName="vacationPlans">
          </div>
        </div>

        <div class="form-group row">
          <label for="c2c" class="col-sm-4 col-form-label">C2C:</label>
          <div class="col-sm-7">
            <mat-radio-group (change)="getC2c($event)">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="form-group">
          <div>
            <label class="fileContainer">
              <button class="btn btn-secondary">
                Attach Files</button>
              <input type="file" (change)="fileChangeEvent($event)" multiple/>
            </label>
          </div>
          <div class="pb-2" *ngFor="let file of getFiles">
            <a class="panel">{{file.name}}
            </a>
            <a class="btn" (click)="removeFile(file)">
              <i class="material-icons">
                clear
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6" *ngIf="isEmployerDetails">

        <legend class="sub-heading">Employer Details:</legend>

        <div class="form-group row">
          <label for="employerName" class="col-sm-4 col-form-label">Employer Name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="employerName" formControlName="employerName">
          </div>
        </div>

        <div class="form-group row">
          <label for="employerContactName" class="col-sm-4 col-form-label">Employer Contact Name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="employerContactName" formControlName="employerContactName">
          </div>
        </div>

        <div class="form-group row">
          <label for="employerPhone" class="col-sm-4 col-form-label">Employer Phone:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="employerPhone" formControlName="employerPhone">
          </div>
        </div>

        <div class="form-group row">
          <label for="employerEmail" class="col-sm-4 col-form-label">Employer Email:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="employerEmail" formControlName="employerEmail">
          </div>
        </div>

      </div>
    </div>

    <div class="form-btn-container">
      <button class="btn btn-default btn-space" type="submit">Add Candidate</button>
      <button [routerLink]="[ '/manage-candidate']" class="btn btn-default">Cancel</button>
    </div>
  </form>
</div>
