<div class="sub-nav-wrapper">
  <a class="sub-nav-link" [routerLink]="['/add-candidate']">Add New Candidate</a>
  <span class="divider">
    <a class="sub-nav-link" [routerLink]="['/search-candidates']"> Search By Technology</a>
  </span>
</div>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>

<h2 class="main-title">Search Candidates By Email</h2>
<div class="utility-container">

  <div class="row mb-4">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Search by Email" [(ngModel)]="searchString">
    </div>
    <div class="col-4">
      <button class="btn btn-sm btn-primary" (click)="getCandidate();">Search</button>
    </div>
  </div>


  <table class="table table-hover">
    <thead class="table-header">
      <tr>
        <th>Candidate Name</th>
        <th>Technology</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody *ngIf="candidateLength > 0 ; else noCandidates">
      <tr *ngFor="let candidate of selectedCandidates" [routerLink]="['/edit-candidate',candidate.candidateId]">
        <td>{{candidate.name}}</td>
        <td>{{candidate.technology[0].technologyName}}</td>
        <td>{{candidate.location}}</td>
      </tr>
    </tbody>
    <ng-template #noCandidates>
      <tbody>
        <tr>
          <td>No Candidates yet.</td>
        </tr>
      </tbody>
    </ng-template>
  </table>

</div>