<h2 class="main-title">
  <a [routerLink]="['/manage-team']">Manage Teams</a> / Add New Team</h2>
<div class="utility-container">
  <form [formGroup]="myForm" (ngSubmit)="addNewTeam(myForm)">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <label for="teamName" class="form-label">Team Name:</label>
          <input type="text" class="form-input" name="teamName" formControlName="teamName" required>
        </div>

        <div class="col-sm-4">
          <label for="accountManager" class="form-label">Account Manager:</label>
          <select name="role" class="form-input" formControlName="accountManager" required>
            <option value="">Select</option>
            <option *ngFor="let mgr of accountManager" value="{{mgr.userId}}">{{mgr.firstName}} {{mgr.lastName}}</option>
          </select>
        </div>

        <div class="col-sm-4">
          <label for="teamLeadUser" class="form-label">Team Lead:</label>
          <select name="role" class="form-input" formControlName="teamLeadUser" (change)="selectTeamLead($event.target.value)" required>
           <option value="">Select</option>
            <option *ngFor="let lead of leadUsers" value="{{lead.userId}}">{{lead.firstName}} {{lead.lastName}}</option>
          </select>
          </div>

        <div class="col-sm-4">
          <label for="teamMembers" class="form-label mb-4">Select Users:</label>
            <ng-multiselect-dropdown [placeholder]="'Select Users'" [data]="recruiters" formControlName="teamMembers" [(ngModel)]="recruitersArray"
                                   [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
      </div>

        <div class="form-btn-container mt-4">
          <button class="btn btn-forms btn-space" type="submit" [disabled]="!myForm.valid">Add Team</button>
          <button [routerLink]="[ '/manage-team']" class="btn btn-forms">Cancel</button>
        </div>

    </div>
  </form>
</div>
