<div class="utility-container">
  <form [formGroup]="myForm" (ngSubmit)="addNewTeam(myForm)">
    <legend class="header">Add New Team</legend>

    <div class="form-group row">
      <label for="teamName" class="col-sm-2 col-form-label">Team Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="teamName" formControlName="teamName" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="teamLeadUser" class="col-sm-2 col-form-label">Team Lead:</label>
      <div class="col-sm-4">
        <select name="role" class="form-control" formControlName="teamLeadUser" (change)="selectTeamLead($event.target.value)" required>
          <option value="">Select</option>
          <option *ngFor="let user of users" value="{{user.userId}}">{{user.firstName}} {{user.lastName}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="teamMembers" class="col-sm-2 col-form-label">Select Users:</label>
      <div class="col-sm-4">
        <ng-multiselect-dropdown [placeholder]="'Select Users'" [data]="otherUsers" formControlName="teamMembers" [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>

    <div class="form-btn-container">
      <button class="btn btn-default btn-space" type="submit" [disabled]="!myForm.valid">Add Team</button>
      <button [routerLink]="[ '/manage-team']" class="btn btn-default">Cancel</button>
    </div>
  </form>
</div>
