<h2 class="main-title">
  <a [routerLink]="['/manage-users']">Manage User</a> / Edit User</h2>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<div class="utility-container">
  <div class="container">
    <form [formGroup]="myForm" (ngSubmit)="updateUser(myForm)">

      <div class="row">

        <div class="col-sm-4">
          <label for="firstName" class="form-label">First Name:</label>
          <input type="text" class="form-input" name="firstName" formControlName="firstName" required ngModel="{{firstName}}">
        </div>

        <div class="col-sm-4">
          <label for="lastName" class="form-label">Last Name:</label>
          <input type="text" class="form-input" name="lastName" formControlName="lastName" required ngModel="{{lastName}}">
        </div>

        <div class="col-sm-4">
          <label for="email" class="form-label">Email:</label>
          <input type="text" class="form-input" name="email" formControlName="email" required ngModel="{{email}}">
        </div>

        <div class="col-sm-4">
          <label for="phoneNumber" class="form-label">Phone Number:</label>
          <input type="text" class="form-input" name="phoneNumber" formControlName="phoneNumber" required ngModel="{{phoneNumber}}">
        </div>

        <div class="col-sm-4">
          <label for="role" class="form-label">Role:</label>
          <select name="role" class="form-input" formControlName="role" required ngModel="{{role}}">
            <option value="">Select</option>
            <option *ngFor="let role of userType" value="{{role.value}}">{{role.name}}</option>
            <option *ngIf="role === 'ADMIN'" value="ADMIN">Admin</option>
          </select>
        </div>

      </div>

      <div class="form-btn-container mt-5">
        <button class="btn btn-forms btn-space" type="submit" [disabled]="!myForm.valid">Update User</button>
        <button class="btn btn-forms btn-space" *ngIf="userRole === 'ADMIN'" type="button" (click)="deleteUser();">Delete User</button>
        <button [routerLink]="[ '/manage-users']" class="btn btn-forms">Cancel</button>
      </div>
    </form>
  </div>
</div>
