<div *ngIf="userRole === 'ADMIN' || userRole === 'ACC_MGR' || userRole === 'TL'" class="sub-nav-wrapper">
  <span>
    <a class="sub-nav-link pr-2" [routerLink]="['/add-dice']">Add Dice</a>
    <a class="sub-nav-link divide pl-2" [routerLink]="['/edit-dice']">Edit Dice</a>

    <mat-form-field class="sub-nav-link col-3" style="float: right;">
      <mat-label>Choose Dice</mat-label>
      <mat-select [(ngModel)]="rtsDiceId" (ngModelChange)="setDiceAccount()">
        <mat-option *ngFor="let dice of diceAccount" [value]="dice.diceId">{{dice.userName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>

</div>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>

<h2 class="dice-title">Dice Search
  <span *ngIf="diceId" style="float: right; margin: 20px 30px 10px 10px;">
      <a style="text-decoration: none;" target="_blank" [routerLink]="['/dice-detail-view',diceId]">
        <button mat-button type="button" ><b style="letter-spacing: 1.1px;">VIEW</b></button></a>
  </span>
  <span class="col-4" style="float: right;">
    <input type="text" class="form-input" placeholder="Enter Dice id" [(ngModel)]="diceId">
  </span>
</h2>
<div class="utility-container" style="border-radius: 1em;">
  <form [formGroup]="candidateForm" (ngSubmit)="findCandidates(candidateForm)">
    <div class="row ml-4 mr-4">
      <div class="col-6">
        <label class="form-label">Query:</label>
        <input type="text" class="form-input" formControlName="query" [(ngModel)]="selectedQuery">
      </div>
      <div class="col-4">
        <label class="form-label">Location:</label>
        <input type="text" class="form-input" formControlName="location" [(ngModel)]="selectedLocation">
      </div>
      <div class="col-2 searchBtn">
        <button mat-raised-button color="primary" type="button" (click)="findCandidates(candidateForm);">Find
          Candidates</button>
      </div>
    </div>
    <!-- </form> -->

    <h2 class="form-title">Candidates List</h2>
    <div class="row">
      <div class="col-2">
        <h4 class="candidate-list">Filter Options</h4>
        <!-- <form style=" font-family: sans-serif;" [formGroup]="candidateForm" (ngSubmit)="candidateFilter(candidateForm)"> -->

        <div class="filterBtn">
          <!-- <button mat-raised-button color="primary" class="mr-2" (click)="resetForm();">Clear</button> -->
          <button mat-raised-button color="primary" (click)="findCandidates(candidateForm);">Apply</button>
        </div>

        <label class="form-label">Distance:</label>
        <span> <input type="text" class="form-input" formControlName="distance" placeholder="Distance" [ngModel]="50">
          <mat-select [(ngModel)]="distanceUnit" formControlName="distanceUnit">
            <mat-option value="km">Km</mat-option>
            <mat-option value="miles">Miles</mat-option>
          </mat-select>
        </span>

        <label class="form-label">Last Active:</label>
        <input type="text" class="form-input" formControlName="lastActive" placeholder="Last Active" [ngModel]="90">
        <mat-hint class="mb-2" style="display: block;">in days</mat-hint>

        <mat-slide-toggle formControlName="excludeThirdParty" [ngModel]="false">Exclude ThirdParty</mat-slide-toggle>

        <label class="filterLabel">Contact Method :</label>
        <mat-checkbox [ngModel]="false" ngInit="hasEmail=true" color="primary" formControlName="hasEmail">Email
        </mat-checkbox>
        <mat-checkbox [ngModel]="false" ngInit="hasPhone=true" color="primary" formControlName="hasPhone">Phone
        </mat-checkbox>

        <mat-form-field class="mt-2">
          <mat-label>Sort By Direction</mat-label>
          <mat-select [(ngModel)]="sortByDirection" formControlName="sortByDirection">
            <mat-option value="asc">Ascending</mat-option>
            <mat-option value="desc">Descending</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Relocate</mat-label>
          <mat-select formControlName="relocate" [ngModel]="false">
            <mat-option [value]=true>Yes</mat-option>
            <mat-option [value]=false>No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Search Type</mat-label>
          <mat-select [(ngModel)]="searchType" formControlName="searchType">
            <mat-option value="Resume">Resume</mat-option>
            <mat-option value="OpenWeb">Open Web</mat-option>
            <mat-option value="Integrated">Integrated</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Sort By</mat-label>
          <mat-select [(ngModel)]="sortBy" formControlName="sortBy">
            <mat-option value="relevancy">Relevancy</mat-option>
            <mat-option value="activityDate">Activity Date</mat-option>
            <mat-option value="dateResumeLastUpdated">Date Resume Last Updated</mat-option>
          </mat-select>
        </mat-form-field>

        <label class="form-label">Job Title:</label>
        <input type="text" class="form-input" formControlName="jobTitle" placeholder="Job Title">

        <label class="form-label">Skills Keyword:</label>
        <input type="text" class="form-input" formControlName="skillsKeyword" placeholder="Skills Keyword"
          [(ngModel)]="selectedSkills">

        <label class="form-label">Education:</label>
        <ng-select [items]="educationDegree" bindLabel="name" bindValue="value" [multiple]="true"
          placeholder="Education" formControlName="education" [(ngModel)]="selectedEducationDegree">
        </ng-select>

        <label class="form-label">Experience:</label>
        <input type="text" class="form-input" formControlName="experience" placeholder="Example 4 or [ 0 to 3]">

        <label class="form-label">Employment Type:</label>
        <ng-select [items]="employmentType" bindLabel="name" bindValue="value" [multiple]="true"
          placeholder="Employment Type" formControlName="employmentType" [(ngModel)]="selectedEmploymentType">
        </ng-select>

        <label class="form-label">Work Permit:</label>
        <ng-select [items]="workPermit" bindLabel="name" bindValue="value" [multiple]="true" placeholder="Work Permit"
          formControlName="workPermit" [(ngModel)]="selectedWorkPermit">
        </ng-select>

        <label class="form-label">Languages:</label>
        <input type="text" class="form-input" formControlName="language" placeholder="Languages">

        <label class="form-label">Social Profile:</label>
        <input type="text" class="form-input" formControlName="socialProfile" placeholder="Social Profile">
        <button class="scroll-btn mt-2" mat-button *ngIf="isShow" (click)="gotoTop($event)">Back to Top</button>
        <button class="scroll-filter-btn mt-2" *ngIf="isShowFilterBtn" mat-raised-button color="primary"
          (click)="findCandidates(candidateForm);">Apply</button>
        <!-- </form> -->
      </div>
      <div class="col-10 divide">
        <div *ngIf="candidatesLength > 0; else noCandidates">
          <div class="mat-paginator-container">
            <h4 class="candidate-list"><span
                style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{diceMetaDataCount}}</span> Candidates Found
            </h4>
            <mat-paginator [length]="diceMetaDataCount" [pageSize]="20" [pageSizeOptions]="[10, 20, 30]"
              (page)="getPaginatorData($event)">
            </mat-paginator>
            <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
          </div>
          <div>
            <div *ngFor="let candidate of candidates">
              <mat-card class="card-container mb-2">
                <div *ngFor="let socialMedia of candidate.socialProfiles">
                  <img mat-card-sm-image src="{{socialMedia.icon_64}}">
                </div>
                <mat-card-header class="candidate-header mt-4">

                  <div mat-card-avatar class="candidate-image">
                    <span *ngIf="candidate.imageUrl; else noImage">
                      <img mat-card-lg-image src="{{candidate.imageUrl}}">
                    </span>
                    <ng-template #noImage>
                      <img mat-card-lg-image src="../../assets/placeholder.png">
                    </ng-template>
                  </div>
                  <mat-card-title class="candidate-name">{{candidate.fullName}}
                    <span *ngIf="candidate.currentJobTitle">/ {{candidate.currentJobTitle}}</span>
                  </mat-card-title>

                  <mat-card-subtitle class="candidate-name slider">
                    <span *ngIf="candidate.desiredJobTitles">
                      <span *ngIf="candidate.desiredJobTitles.length > 0">
                        <i class="material-icons icon-exp pl-2"> work_outline
                        </i>Preferred:{{candidate.desiredJobTitles[0]}}
                      </span>
                    </span>
                    <section class="slider-section">
                      Likely to Switch<mat-progress-bar mode="determinate" value="{{candidate.likelyToMoveScore}}">
                      </mat-progress-bar>
                    </section>
                  </mat-card-subtitle>

                  <mat-card-subtitle class="candidate-name">
                    <span *ngIf="candidate.city && candidate.country">
                      <i class="fa fa-map-marker pl-2 pr-2" style="font-size:17px"> </i>{{candidate.city}},
                      {{candidate.country}}
                    </span>
                    <span *ngIf="candidate.yearsOfExperience">
                      <i class="material-icons icon-exp icon-padding"> event_note </i>{{candidate.yearsOfExperience}}
                      years
                      exp
                    </span>
                    <span *ngIf="candidate.workPermitDocuments.length > 0">
                      <i class="fa fa-globe pr-2 icon-padding" style="font-size:17px">
                      </i>{{candidate.workPermitDocuments[0]}}
                    </span>
                  </mat-card-subtitle>

                  <mat-card-subtitle class="candidate-name">
                    <span *ngIf="candidate.workPreferences.length > 0">
                      <i class="fa fa-map-o pl-2 pr-1" style="font-size:17px"></i>
                      <span *ngFor="let work of candidate.workPreferences | filterUnique">
                        <span *ngIf="work.willingToRelocate; else notRelocate">Willing to
                          relocate</span>
                        <ng-template #notRelocate>
                          Not willing to relocate
                        </ng-template>
                      </span>
                    </span>
                    <span *ngIf="candidate.workPreferences.length > 0">
                      <i class="fa fa-money icon-padding " style="font-size:18px"></i>
                      <span *ngFor="let work of candidate.workPreferences | filterUnique">
                        <span *ngIf="work.annualSalary; else noSalary">
                          {{candidate.workPreferences[0].annualSalary.min}}+(USD) /yr </span>
                        <ng-template #noSalary>
                          No desired salary disclosed
                        </ng-template>
                      </span>
                    </span>
                    <span *ngIf="candidate.dateLastActive">
                      <i class="material-icons icon-exp icon-padding"> watch_later
                      </i>{{candidate.dateLastActive | timeAgo}}
                    </span>
                  </mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                  <mat-grid-list class="grid-list" cols="5" rowHeight="6:1">
                    <mat-grid-tile class="grid-tile pl-2" *ngFor="let tech of candidate.skills">{{tech.skill}}
                      <span class="grid-sub-tile">{{tech.lastUsed}}</span></mat-grid-tile>
                  </mat-grid-list>
                </mat-card-content>
                <mat-card-actions>
                  <a style="text-decoration: none;" target="_blank" [routerLink]="['/dice-detail-view',candidate.id]">
                    <button mat-button type="button"><b style="letter-spacing: 1.1px;">VIEW</b></button></a>
                </mat-card-actions>
              </mat-card>
            </div>
            <mat-paginator [length]="diceMetaDataCount" [pageSize]="20" [pageSizeOptions]="[10, 20, 30]"
              (page)="getPaginatorData($event)">
            </mat-paginator>
          </div>
        </div>
        <ng-template #noCandidates>
          <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
          <mat-card style="border-radius: 1em;">
            <mat-card-title>No Candidates Found</mat-card-title>
          </mat-card>
        </ng-template>
      </div>
    </div>
  </form>
</div>