<h2 class="main-title">
  <a [routerLink]="['/requirements']">Requirements</a> / Requirement Deatils</h2>

<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>

<div class="utility-container">
  <form [formGroup]="myForm">

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="createdDate" class="col-form-label bold-text">Created Date:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement">
        <input type="text" class="form-control read-only-text-input" name="createdDate" formControlName="createdDate"
          ngModel="{{requirementCreatedDate}}" disabled>
      </div>
      <div class="col-sm-2 shade-col">
        <label for="positionName" class="col-form-label bold-text">Position Name:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement.position">
        <input type="text" class="form-control read-only-text-input" name="positionName" formControlName="positionName"
          ngModel="{{selectedRequirement.position.positionName}}" disabled>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="status" class="col-form-label bold-text">Status:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement">
        <input type="text" class="form-control read-only-text-input" name="status" formControlName="status" ngModel="{{selectedRequirement.status}}"
          disabled>
      </div>
      <div class="col-sm-2 shade-col">
        <label for="accountName" class="col-form-label bold-text">Account Name:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement.account">
        <input type="text" class="form-control read-only-text-input" name="accountName" formControlName="accountName"
          ngModel="{{selectedRequirement.account.accountName}}" disabled>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="priority" class="col-form-label bold-text">Priority:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement">
        <input type="text" class="form-control read-only-text-input" name="priority" formControlName="priority" ngModel="{{selectedRequirement.priority}}"
          disabled>
      </div>
      <div class="col-sm-2 shade-col">
        <label for="location" class="col-form-label bold-text">Location:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement">
        <input type="text" class="form-control read-only-text-input" name="location" formControlName="location" ngModel="{{selectedRequirement.location}}"
          disabled>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="positionsCount" class="col-form-label bold-text">No.of Positions:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement">
        <input type="number" class="form-control read-only-text-input" name="positionsCount" maxlength="3"
          formControlName="positionsCount" ngModel="{{selectedRequirement.positionCount}}" disabled>
      </div>
      <div class="col-sm-2 shade-col">
        <label for="clientName" class="col-form-label bold-text">Client:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement.client">
        <input type="text" class="form-control read-only-text-input" name="clientName" formControlName="clientName"
          ngModel="{{selectedRequirement.client.name}}" disabled>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label class="col-form-label bold-text">Requirement Type:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement.requirementTypes">
        <input type="text" class="form-control read-only-text-input" name="requirementType" formControlName="requirementType"
          ngModel="{{requirementByUser}}" disabled>
      </div>
      <div class="col-sm-2 shade-col">
        <label for="immigrationRequirement" class="col-form-label bold-text">Immigration Requirement:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement">
        <input type="text" class="form-control read-only-text-input" name="immigrationType" formControlName="immigrationType"
          ngModel="{{immigrationByUser}}" disabled>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="sellingRate" class="col-form-label bold-text">Selling Rate:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement">
        <input type="text" class="form-control read-only-text-input" name="sellingRate" formControlName="sellingRate"
          ngModel="{{selectedRequirement.sellingRate}}" disabled>
      </div>
      <div class="col-sm-2 shade-col">
        <label for="technologies" class="col-form-label bold-text">Technologies:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement.technology">
        <input type="text" class="form-control read-only-text-input" name="technologies" formControlName="technologies"
          ngModel="{{selectedRequirement.technology[0].technologyName}}" disabled>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="team" class="col-form-label bold-text">Team:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement.team">
        <input type="text" class="form-control read-only-text-input" name="team" formControlName="team" ngModel="{{selectedRequirement.team.name}}"
          disabled>
      </div>
      <div class="col-sm-2 shade-col">
        <label for="allocation" class="col-form-label bold-text">Allocation:</label>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="selectedRequirement.allocationUser">
        <input type="text" class="form-control read-only-text-select" name="allocation" formControlName="allocation"
          ngModel="{{allocationUsersName}}" readonly>
      </div>
      <div class="col-sm-4 shade-col-alt" *ngIf="!selectedRequirement.allocationUser">
        <input type="text" class="form-control read-only-text-select" name="allocation" formControlName="allocation"
          ngModel="{{allocationUsersName}}" readonly>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="jobDescription" class="col-form-label bold-text">Job Description:</label>
      </div>
      <div class="col-sm-10 shade-col-alt" *ngIf="selectedRequirement">
        <textarea rows="10" name="jobDescription" class="form-control read-only-text-input" formControlName="jobDescription"
          placeholder="Description.." ngModel="{{selectedRequirement.jobDescription}}" disabled></textarea>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="notes" class="col-form-label bold-text">Notes:</label>
      </div>
      <div class="col-sm-10 shade-col-alt" *ngIf="selectedRequirement">
        <textarea rows="6" name="notes" class="form-control" formControlName="notes" placeholder="Type Your Notes.."
          ngModel="{{selectedRequirement.note}}" disabled></textarea>
      </div>
    </div>

    <div class="form-group row push-left">
      <div class="col-sm-2 shade-col">
        <label for="comments" class="col-form-label bold-text">Comments:</label>
      </div>
      <div class="col-sm-10 shade-col-alt" *ngIf="selectedRequirement.comments">
        <textarea name="comments" class="form-control read-only-text-input" formControlName="comments" placeholder="Type Your Comments.."
          ngModel="{{selectedRequirement.comments}}" disabled></textarea>
      </div>
    </div>

    <div class="form-btn-container mt-4">
      <button [routerLink]="['/submission-by-requirement', requirementId]" class="btn btn-forms btn-space" type="submit">Submissions</button>
      <button class="btn btn-forms btn-space" [routerLink]="['/add-new-submission', requirementId]">Add New Submission</button>
      <a [routerLink]="[ '/requirements']" class="btn btn-forms">Cancel</a>
    </div>

  </form>
</div>