.search-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.search-container .text-input {
  width: 300px;
}

.table-header {
  background-color: #e8e9ef;
  color: rgb(32, 28, 28);
  text-transform: uppercase;
}

.title {
  margin-top: 1em;
}

.allocation-name {
  font-size: 15px;
  text-transform: capitalize;
  color: rgb(70, 104, 117);
}

.btn {
  margin-bottom: 1.5em;
}
