<div class="sub-nav-wrapper">
  <a class="sub-nav-link" [routerLink]="['/add-new-submission']">Add New Submission</a>

  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
    [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>

  <span *ngIf="userRole === 'ADMIN' || userRole === 'ACC_MGR' || userRole === 'TL'" class="divider">
    <i class="material-icons icon-subnav">assessment</i>
    <a class="sub-nav-link" [routerLink]="['/generate-report']"> Generate Report</a>
  </span>
</div>
<h2 class="main-title">Submissions</h2>
<div class="utility-container">
  <div class="filter-container">
    <div class="row">
      <div class="col-4 divider-right">
        <div class="row mt-2">
          <div class="col-4">
            <mat-form-field>
              <input matInput [matDatepicker]="fromDatePicker" [(ngModel)]="fromDate" placeholder="From Date">
              <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <input matInput [matDatepicker]="toDate" [(ngModel)]="currentDate" placeholder="To Date">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-4 mt-3">
            <button class="btn btn-sm btn-primary" (click)="filterByDate();">Show Results</button>
          </div>
        </div>
      </div>
      <div class="col-auto divider-right">
        <div class="row mt-3">
          <div class="col-6">
            <select class="form-control width-200" (change)="filterBy($event.target.value)" [(ngModel)]="filter">
              <option value="" selected>Filter By</option>
              <option value="status">Status</option>
              <option value="team">Team</option>
              <option value="client">Client</option>
              <option *ngIf="userRole !== 'RECRUITER'" value="recruiter">Recruiter</option>
            </select>
          </div>

          <div *ngIf="isStatus" class="col-6 width-200">
            <select class="form-control" (change)="selectStatus($event.target.value)" [(ngModel)]="status">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let status of submissionStatus" value="{{status.value}}">{{status.name}}</option>
            </select>
          </div>

          <div *ngIf="isTeam" class="col-6 width-200">
            <select class="form-control" (change)="selectTeam($event.target.value)" [(ngModel)]="team">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let team of teams" value="{{team.teamId}}">{{team.name}}</option>
            </select>
          </div>

          <div *ngIf="isClient" class="col-6 width-200">
            <select class="form-control" (change)="selectClient($event.target.value)" [(ngModel)]="client">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let client of clients" value="{{client.clientId}}">{{client.name}}</option>
            </select>
          </div>

          <div *ngIf="isRecruiter" class="col-6 width-200">
            <select class="form-control" (change)="selectRecruiter($event.target.value)" [(ngModel)]="recruiter">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let user of teamUsers" value="{{user.userId}}">{{user.firstName}} {{user.lastName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-4 mt-3">
        <div class="row">
          <div *ngIf="!searchBox" class="col-6 width-200 height-50 submissions-tiny-chart">
            <ngx-charts-bar-vertical [view]="view" [animations]="false" [scheme]="colorScheme" [results]="chartData"
              [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel"
              (select)="onUserSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
          <button *ngIf="!searchBox" class="btn btn-sm btn-primary mt-2" (click)="graphExpand();">Graph Expand</button>
        </div>

        <div class="submissions search-container" *ngIf="searchBox">
          <input type="text" class="form-control mr-sm-2" placeholder="Search by Position Name" name="searchString "
            [(ngModel)]="searchString" (input)="filterItem($event.target.value)">
          <span class="search-icon">
            <i class="material-icons">search</i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 pt-5">
    <h6>Total {{submissionsLength}} Results</h6>
  </div>

  <div *ngIf="userRole === 'ADMIN' || userRole === 'TL' || userRole === 'ACC_MGR'" class="pt-2">

    <div class="table-wrapper mt-4" *ngIf="submissionsLength > 0 ; else noSummissions">
      <div class="block-wrapper" *ngFor="let sub of submissionDetails">

        <div class="meta-info-wrapper">
          <span class="block-header-label">Position Name: </span>
          <span class="meta-info-content">{{sub.position.positionName}},</span>
          <span class="block-header-label">Client Name: </span>
          <span class="meta-info-content">{{sub.client.name}},</span>
          <span *ngIf="sub.allocationUser">
            <span class="block-header-label">Allocated to: </span>
            <span class="meta-info-content">{{sub.allocationUser.firstName}} {{sub.allocationUser.lastName}}
            </span>
          </span>
          <span *ngIf="!sub.allocationUser && sub.team !== undefined">
            <span class="block-header-label">Allocated Team: </span>
            <span class="meta-info-content" *ngIf="(sub.allocationUserId === '' || sub.allocationUserId === undefined) && (sub.team !== undefined)">{{sub.team.name}}</span>
          </span>
        </div>

        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>Created Date:</th>
              <th>Candidate Name</th>
              <th>Technology</th>
              <th>Availability</th>
              <th>Work Location</th>
              <th>Status</th>
              <th>Submitted By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let submission of sub.submissions" [routerLink]="['/edit-submission', submission.submissionId]">
              <td>{{submission.submissionOn | date: 'MMM d, y'}}</td>
              <td>{{submission.candidate.name}}</td>
              <td>{{submission.candidate.technology[0].technologyName}}</td>
              <td>{{submission.candidate.availability}}</td>
              <td>{{sub.location}}</td>
              <td>{{submission.status}}</td>
              <td>{{submission.submittedUser.firstName}} {{submission.submittedUser.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noSummissions>
      <p class="message">No Submissions yet, Please click Add Submission to add a new submission.</p>
    </ng-template>
  </div>

  <div *ngIf="userRole === 'RECRUITER' || userRole === 'TRAINEE' " class="pt-2">
    <div class="table-wrapper" *ngIf="submissionsLength > 0 ; else noSummissions">
      <div class="block-wrapper" *ngFor="let sub of submissionDetails">

        <div class="meta-info-wrapper">
          <span class="block-header-label">Position Name: </span>
          <span class="meta-info-content">{{sub.position.positionName}},</span>
          <span class="block-header-label">Client Name: </span>
          <span class="meta-info-content">{{sub.client.name}},</span>
          <span *ngIf="sub.allocationUser">
            <span class="block-header-label">Allocated to: </span>
            <span class="meta-info-content">{{sub.allocationUser.firstName}} {{sub.allocationUser.lastName}}
            </span>
          </span>
          <span *ngIf="!sub.allocationUser && sub.team !== undefined">
            <span class="block-header-label">Allocated Team: </span>
            <span class="meta-info-content" *ngIf="(sub.allocationUserId === '' || sub.allocationUserId === undefined) && (sub.team !== undefined)">{{sub.team.name}}</span>
          </span>
        </div>

        <table class="table table-bordered table-sm table-hover">
          <thead class="table-header">
            <tr>
              <th>Created Date:</th>
              <th>Candidate Name</th>
              <th>Technology</th>
              <th>Availability</th>
              <th>Work Location</th>
              <th>Status</th>
              <th>Submitted By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let submission of sub.submissions" [routerLink]="['/recruiter-edit-submissions', submission.submissionId]">
              <td>{{submission.submissionOn | date: 'MMM d, y'}}</td>
              <td>{{submission.candidate.name}}</td>
              <td>{{submission.candidate.technology[0].technologyName}}</td>
              <td>{{submission.candidate.availability}}</td>
              <td>{{sub.location}}</td>
              <td>{{submission.status}}</td>
              <td>{{submission.submittedUser.firstName}} {{submission.submittedUser.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noSummissions>
      <p class="message">No Submissions yet, Please click Add Submission to add a new submission.</p>
    </ng-template>
  </div>

</div>