.btn-space {
    margin-top: 1em;
  }

.col-12{
  padding: 0;
}

.isLeave{
  padding-top: 25px;
}
.leaveType{
  padding-left: 25px;
}
.leave-count{
  float: right;
    padding-right: 1.8em;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}





