<h2 class="main-title">
  <a [routerLink]="['/manage-users']">Manage users</a> / Add New User</h2>
<div class="utility-container">
  <div class="container">
    <form [formGroup]="myForm" (ngSubmit)="addNewUser(myForm)">

      <div class="row">

        <div class="col-sm-4">
          <label for="firstName" class="form-label">First Name:</label>
          <input type="text" class="form-input" name="firstName" formControlName="firstName" required>
        </div>

        <div class="col-sm-4">
          <label for="lastName" class="form-label">Last Name:</label>
          <input type="text" class="form-input" name="lastName" formControlName="lastName" required>
        </div>

        <div class="col-sm-4">
          <label for="email" class="form-label">Email:</label>
          <input type="text" class="form-input" name="email" formControlName="email" required>
        </div>

        <div class="col-sm-4">
          <label for="phoneNumber" class="form-label">Phone Number:</label>
          <input type="text" class="form-input" name="phoneNumber" formControlName="phoneNumber" required>
        </div>

        <div class="col-sm-4">
          <label for="role" class="form-label">Role:</label>
          <select name="role" class="form-input" formControlName="role" required>
            <option value="">Select</option>
            <option *ngFor="let role of userType" value="{{role.value}}">{{role.name}}</option>
          </select>
        </div>

        <div class="col-sm-4">
          <label for="userPassword" class="form-label">Password:</label>
          <input type="password" class="form-input" name="userPassword" formControlName="userPassword" required>
        </div>

        <div class="col-sm-4">
          <label for="confirmPassword" class="form-label">Confim Password:</label>
          <input type="password" class="form-input" name="confirmPassword" formControlName="confirmPassword" required>
        </div>
      </div>

      <div class="form-btn-container mt-5">
        <button class="btn btn-forms btn-space" type="submit" [disabled]="!myForm.valid">Add User</button>
        <button [routerLink]="[ '/manage-users']" class="btn btn-forms">Cancel</button>
      </div>
    </form>
  </div>
</div>
