<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'">
</ng-progress>
<h2 *ngIf="userRole !== 'HR_MANAGER'" class="main-title"><a [routerLink]="['/submissions']">Submissions</a> /
  Achievements</h2>
<h2 *ngIf="userRole === 'HR_MANAGER'" class="main-title">Achievements</h2>
<div class="utility-container">

  <div class="row ml-2" style="float: left;">
    <!-- <h6 class="ml-4">Total {{interviewsLength}} Results</h6> -->
    <div class="width-150 height-200">
      <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="chartData" [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>

  <div *ngIf="userRole === 'ADMIN' || userRole === 'TL' || userRole === 'ACC_MGR' || userRole === 'HR_MANAGER'">
    <table class="table table-hover table-bordered table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="candidateName">Candidate Name</th>
          <th mat-sort-header="clientName">Client Name</th>
          <th mat-sort-header="joiningDate">Joining Date</th>
          <th mat-sort-header="recruiterName">Recruiter Name</th>
          <th mat-sort-header="status">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of sortedData" [routerLink]="['/edit-submission', submission.submissionId]">
          <td>{{submission.position.positionName}}</td>
          <td>{{submission.candidate.name}}</td>
          <td>{{submission.client.name}}</td>
          <td>{{submission.joiningDateStr | date: 'MMM d, y'}}</td>
          <td>{{submission.recruiter.firstName}} {{submission.recruiter.lastName}}</td>
          <td *ngIf="submission.interviewDetailStatus === 'DELIVERED'; else backout">
            {{submission.interviewDetailStatus}}</td>
          <ng-template #backout>
            <td style="color: red;">{{submission.interviewDetailStatus}}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userRole === 'RECRUITER'">
    <table class=" table table-hover table-bordered table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="candidateName">Candidate Name</th>
          <th mat-sort-header="clientName">Client Name</th>
          <th mat-sort-header="joiningDate">Joining Date</th>
          <th mat-sort-header="recruiterName">Recruiter Name</th>
          <th mat-sort-header="status">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of sortedData"
          [routerLink]="['/recruiter-edit-submissions', submission.submissionId]">
          <td>{{submission.position.positionName}}</td>
          <td>{{submission.candidate.name}}</td>
          <td>{{submission.client.name}}</td>
          <td>{{submission.joiningDateStr | date: 'MMM d, y'}}</td>
          <td>{{submission.recruiter.firstName}} {{submission.recruiter.firstName}}</td>
          <td *ngIf="submission.interviewDetailStatus === 'DELIVERED'; else backout">
            {{submission.interviewDetailStatus}}</td>
          <ng-template #backout>
            <td style="color: red;">{{submission.interviewDetailStatus}}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
