<h2 class="main-title">
  <a [routerLink]="['/submissions']">Submissions</a> / Add New Submission</h2>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<div class="utility-container">
  <div class="container">

    <form [formGroup]="myForm" (ngSubmit)="addNewSubmission(myForm)">

      <div class="row">
        <div class="col-sm-4">
          <label for="requirements" class="form-label">Requirements:</label>
          <select name="requirements" class="form-input" formControlName="requirements" (change)="getRequirement($event.target.value);"
            ngModel="{{requirementId}}" required>
            <option value="">Select</option>
            <option *ngFor="let require of allRequirements" value="{{require.requirementId}}">{{require.position.positionName}}
              ({{require.client.name}})</option>
          </select>
        </div>

        <div class="col-sm-4" *ngIf="selectRequiement && userRole !== 'RECRUITER' && userRole !== 'TRAINEE'">
          <label for="clientRate" class="form-label">Client Rate:</label>
          <input type="text" class="form-input" name="clientRate" formControlName="clientRate" ngModel="{{selectRequiement.clientRate}}"
            readonly>
        </div>

        <div class="col-sm-4" *ngIf="selectRequiement && userRole !== 'RECRUITER' && userRole !== 'TRAINEE'">
          <label for="sellingRate" class="form-label">Selling Rate:</label>
          <input type="text" class="form-input" name="sellingRate" formControlName="sellingRate" ngModel="{{selectRequiement.sellingRate}}">
        </div>

        <div class="col-sm-4" *ngIf="selectRequiement && (userRole === 'RECRUITER' || userRole === 'TRAINEE')">
          <label for="sellingRate" class="form-label">Selling Rate:</label>
          <input type="text" class="form-input" name="sellingRate" formControlName="sellingRate" ngModel="{{selectRequiement.sellingRate}}"
            readonly>
        </div>

        <div class="col-sm-4">
          <label for="buyingRate" class="form-label">Buying Rate:</label>
          <input type="text" class="form-input" name="buyingRate" formControlName="buyingRate" required>
        </div>

        <div class="col-sm-4">
          <label for="status" class="form-label">Status:</label>
          <select name="status" class="form-input" formControlName="status">
            <option value="">Select</option>
            <option *ngFor="let status of status" value="{{status.value}}">{{status.name}}</option>
          </select>
        </div>

        <div class="col-sm-4" *ngIf="selectRequiement">
          <label for="clientContactname" class="form-label">Client Contact name:</label>
          <input type="text" class="form-input" name="clientContactname" formControlName="clientContactname" ngModel="{{clientRecruiterName}}"
            readonly>
        </div>

        <div class="col-sm-4" *ngIf="selectRequiement && userRole !== 'RECRUITER' && userRole !== 'TRAINEE'">
          <label for="clientContactEmail" class="form-label">Client Contact Email:</label>
          <input type="text" class="form-input" name="clientContactEmail" formControlName="clientContactEmail" ngModel="{{clientRecruiterEmail}}"
            readonly>
        </div>

        <div class="col-sm-4" *ngIf="selectRequiement">
          <label for="accountName" class="form-label">Account Name:</label>
          <input type="text" class="form-input" name="accountName" formControlName="accountName" value="{{selectRequiement.account.accountName}}"
            readonly>
        </div>

        <div class="col-sm-4" *ngIf="selectRequiement">
          <label for="workLocation" class="form-label">Work Location:</label>
          <input type="text" class="form-input" name="workLocation" formControlName="workLocation" value="{{selectRequiement.location}}"
            readonly>
        </div>

      </div>

      <h2 class="form-title">Candidate Deatils:</h2>
      <div class="row">
        <div class="col-sm-4">
          <label for="candidateEmail" class="form-label">Candidate Email:</label>
          <input type="text" class="form-input" name="candidateEmail" formControlName="candidateEmail" value="{{selectedCandidate.email}}"
            required>

        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-forms mt-5 pt-2" (click)="getCandidateDetails()">Search</button>
        </div>
      </div>

      <div *ngIf="isCandidate">

        <div class="row">
          <div class="col-sm-8">
            <div><label for="candidateImmigirationStatus" class="form-label">Candidate Immigiration Status:</label></div>
            <div class="pt-3">
              <mat-radio-group formControlName="candidateImmigirationStatus" disabled>
                <mat-radio-button value="GC">GC</mat-radio-button>
                <mat-radio-button value="CITIZEN">CITIZEN</mat-radio-button>
                <mat-radio-button value="H1B">H1B</mat-radio-button>
                <mat-radio-button value="W2/1099">W2/1099</mat-radio-button>
                <mat-radio-button value="OPT/CPT">OPT/CPT</mat-radio-button>
                <mat-radio-button value="EAD">EAD</mat-radio-button>
                <mat-radio-button value="H4AD">H4EAD</mat-radio-button>
                <mat-radio-button value="TN">TN</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <div class="mb-3">
              <label for="editRelocate" class="form-label">Willing To Relocate:</label>
            </div>
            <mat-radio-group formControlName="editRelocate" disabled>
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-sm-4">
            <label for="candidateName" class="form-label">Candidate Name:</label>
            <input type="text" class="form-input" name="candidateName" formControlName="candidateName" value="{{selectedCandidate.name}}"
              readonly>
          </div>

          <div class="col-sm-4">
            <label for="candidatePhone" class="form-label">Candidate Phone:</label>
            <input type="text" class="form-input" name="candidatePhone" formControlName="candidatePhone" value="{{selectedCandidate.phoneNumber}}"
              readonly>
          </div>

          <div class="col-sm-4">
            <label for="candidateLocation" class="form-label">Candidate Location:</label>
            <input type="text" class="form-input" name="candidateLocation" formControlName="candidateLocation" value="{{selectedCandidate.location}}"
              readonly>
          </div>

          <div class="col-sm-4">
            <label for="availability" class="form-label">Availability:</label>
            <input type="text" class="form-input" name="availability" formControlName="availability" value="{{selectedCandidate.availability}}"
              readonly>
          </div>

          <div class="col-sm-4">
            <label for="technology" class="form-label">Technology:</label>
            <select name="technology" class="form-input" formControlName="technology" ngModel="{{selectedCandidate.technology[0].technologyId}}"
              disabled>
              <option *ngFor="let tech of selectedCandidate.technology" value="{{tech.technologyId}}">{{tech.technologyName}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label for="skype" class="form-label">Skype:</label>
            <input type="text" class="form-input" name="skype" formControlName="skype" value="{{selectedCandidate.skype}}"
              readonly>
          </div>

          <div class="col-sm-4">
            <label for="linkedIn" class="form-label">LinkedIn:</label>
            <input type="text" class="form-input" name="linkedIn" formControlName="linkedIn" value="{{selectedCandidate.linkedIn}}"
              readonly>
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="editResonForChange" class="form-label">Reson For Change:</label>
            <input type="text" class="form-input" name="editResonForChange" formControlName="editResonForChange"
              readonly ngModel="{{selectedCandidate.reasonForChange}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="editInterview" class="form-label">Availability For Inteview:</label>
            <input type="text" class="form-input" name="editInterview" formControlName="editInterview" readonly ngModel="{{selectedCandidate.availableTimeForInterview}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="editExperience" class="form-label">Relevant Experience:</label>
            <input type="text" class="form-input" name="editExperience" formControlName="editExperience" readonly
              ngModel="{{selectedCandidate.experience}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="editTotalExperience" class="form-label">Total Experience:</label>
            <input type="text" class="form-input" name="totalExperience" formControlName="totalExperience" readonly
              ngModel="{{selectedCandidate.totalExperience}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="currentCompany" class="form-label">Current Company:</label>
            <input type="text" class="form-input" name="currentCompany" formControlName="currentCompany" readonly
              ngModel="{{selectedCandidate.currentCompanyName}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="epNumber" class="form-label">EP Number:</label>
            <input type="text" class="form-input" name="epNumber" formControlName="epNumber" readonly ngModel="{{selectedCandidate.epNumber}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="authorizedWorkInUs" class="form-label">Authorized work in US:</label>
            <input type="text" class="form-input" name="authorizedWorkInUs" formControlName="authorizedWorkInUs"
              readonly ngModel="{{selectedCandidate.authorizedWorkInUS}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <div class="mb-3">
              <label class="form-label">Have you ever worked with Client:</label>
            </div>
            <mat-radio-group formControlName="editWorkedWithClient" disabled>
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>

          </div>

          <div class="col-sm-4" *ngIf="isWorkedWithClient && selectedCandidate">
            <label for="workedClient" class="form-label">If yesm mention FT or Contract:</label>
            <input type="text" class="form-input" name="workedClient" formControlName="workedClient" readonly ngModel="{{selectedCandidate.workedClient}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="anotherInterviewOffer" class="form-label">Any interview or Offers in hand?</label>
            <input type="text" class="form-input" name="anotherInterviewOffer" formControlName="anotherInterviewOffer"
              readonly ngModel="{{selectedCandidate.anyOffer}}">
          </div>

          <div class="col-sm-4" *ngIf="selectedCandidate">
            <label for="vacationPlans" class="form-label">Vacation plans, if any:</label>
            <input type="text" class="form-input" name="vacationPlans" formControlName="vacationPlans" readonly ngModel="{{selectedCandidate.vacationPlan}}">
          </div>

          <div class="col-sm-4">
            <div class="mb-3">
              <label for="c2c" class="form-label">C2C:</label>
            </div>
            <mat-radio-group formControlName="c2c" disabled>
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>

        <div class="row" *ngIf="isC2c">
          <div class="col-sm-12">
            <h2 class="form-title">Employer Details:</h2>
            <div class="row">
              <div class="col-sm-4">
                <label for="employerName" class="form-label">Employer Name:</label>
                <input type="text" class="form-input" name="employerName" formControlName="employerName" ngModel="{{selectedCandidate.employeeName}}"
                  readonly>
              </div>

              <div class="col-sm-4">
                <label for="employerContactName" class="form-label">Employer Contact Name:</label>
                <input type="text" class="form-input" name="employerContactName" formControlName="employerContactName"
                  ngModel="{{selectedCandidate.employeeContactName}}" readonly>
              </div>

              <div class="col-sm-4">
                <label for="employerPhone" class="form-label">Employer Phone:</label>
                <input type="text" class="form-input" name="employerPhone" formControlName="employerPhone" ngModel="{{selectedCandidate.employeeContactPhone}}"
                  readonly>
              </div>

              <div class="col-sm-4">
                <label for="employerEmail" class="form-label">Employer Email:</label>
                <input type="text" class="form-input" name="employerEmail" formControlName="employerEmail" ngModel="{{selectedCandidate.employeeContactEmail}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 mt-4">
            <div class="form-group" *ngIf="selectedCandidate">
              <h2 class="form-title">Attachements:</h2>
              <div class="pt-3" *ngFor="let media of selectedCandidate.mediaFiles">
                <i class="panel btn" (click)="openFiles(media);">{{media.fileName}}
                </i>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div *ngIf="!isCandidate">

        <div class="row">
          <div class="col-sm-8">
            <div><label for="editCandidateImmigirationStatus" class="form-label">Candidate Immigiration Status:</label></div>
            <div class="pt-3">
              <mat-radio-group (change)="getImmigiration($event)" formControlName="editCandidateImmigirationStatus">
                <mat-radio-button value="GC">GC</mat-radio-button>
                <mat-radio-button value="CITIZEN">CITIZEN</mat-radio-button>
                <mat-radio-button value="H1B">H1B</mat-radio-button>
                <mat-radio-button value="W2/1099">W2/1099</mat-radio-button>
                <mat-radio-button value="OPT/CPT">OPT/CPT</mat-radio-button>
                <mat-radio-button value="EAD">EAD</mat-radio-button>
                <mat-radio-button value="H4AD">H4EAD</mat-radio-button>
                <mat-radio-button value="TN">TN</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="mb-3">
              <label for="relocate" class="form-label">Willing To Relocate:</label>
            </div>
            <mat-radio-group formControlName="relocate" (change)="relocate($event);">
              <mat-radio-button value="true" checked>Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <label for="editCandidateName" class="form-label">Candidate Name:</label>
            <input type="text" class="form-input" name="editCandidateName" formControlName="editCandidateName">
          </div>

          <div class="col-sm-4">
            <label for="editCandidatePhone" class="form-label">Candidate Phone:</label>
            <input type="text" class="form-input" name="editCandidatePhone" formControlName="editCandidatePhone">
          </div>

          <div class="col-sm-4">
            <label for="editCandidateLocation" class="form-label">Candidate Location:</label>
            <input type="text" class="form-input" name="editCandidateLocation" formControlName="editCandidateLocation">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <label for="editAvailability" class="form-label">Availability:</label>
            <input type="text" class="form-input" name="editAvailability" formControlName="editAvailability">
          </div>

          <div class="col-sm-4">
            <label for="editTechnology" class="form-label">Technology:</label>
            <select name="editTechnology" class="form-input" formControlName="editTechnology" (change)="addTechnology($event.target.value);">
              <option value="">Select</option>
              <option value="other">Other</option>
              <option *ngFor="let tech of technology" value="{{tech.technologyId}}">{{tech.technologyName}}</option>
            </select>
          </div>

          <div class="col-sm-4" *ngIf="isOtherTechnology">
            <label for="editTechnology" class="form-label">Add New Technology:</label>
            <label for="otherTechnology" class="form-label"></label>
            <input type="text" class="form-input" name="otherTechnology" formControlName="otherTechnology" placeholder=" Enter the Technology">
          </div>

          <div class="col-sm-4">
            <label for="editSkype" class="form-label">Skype:</label>
            <input type="text" class="form-input" name="editSkype" formControlName="editSkype">
          </div>

          <div class="col-sm-4">
            <label for="editLinkedIn" class="form-label">LinkedIn:</label>
            <input type="text" class="form-input" name="editLinkedIn" formControlName="editLinkedIn">
          </div>

          <div class="col-sm-4">
            <label for="resonForChange" class="form-label">Reason For Change:</label>
            <input type="text" class="form-input" name="resonForChange" ngModel formControlName="resonForChange">
          </div>

          <div class="col-sm-4">
            <label for="interview" class="form-label">Availability For Inteview:</label>
            <input type="text" class="form-input" name="interview" ngModel formControlName="interview">
          </div>

          <div class="col-sm-4">
            <label for="experience" class="form-label">Relevant Experience:</label>
            <input type="text" class="form-input" name="experience" ngModel formControlName="experience">
          </div>

          <div class="col-sm-4">
            <label for="totalExperience" class="form-label">Total Experience:</label>
            <input type="text" class="form-input" name="totalExperience" ngModel formControlName="totalExperience">
          </div>

          <div class="col-sm-4">
            <label for="currentCompany" class="form-label">Current Company:</label>
            <input type="text" class="form-input" name="currentCompany" ngModel formControlName="currentCompany">
          </div>

          <div class="col-sm-4">
            <label for="epNumber" class="form-label">EP Number:</label>
            <input type="text" class="form-input" name="epNumber" ngModel formControlName="epNumber">
          </div>

          <div class="col-sm-4">
            <label for="authorizedWorkInUs" class="form-label">Authorized to work in US:</label>
            <input type="text" class="form-input" name="authorizedWorkInUs" ngModel formControlName="authorizedWorkInUs">
          </div>

          <div class="col-sm-4">
            <div class="mb-3">
              <label class="form-label">Have you ever worked with Client:</label>
            </div>
            <mat-radio-group (change)="getWorkedWithClient($event)">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-sm-4" *ngIf="isWorkedWithClient">
            <label for="workedClient" class="form-label">If yes please mention Full Time or contract</label>
            <input type="text" class="form-input" name="workedClient" ngModel formControlName="workedClient">
          </div>

          <div class="col-sm-4">
            <label for="anotherInterviewOffer" class="form-label">Any interview or Offers in hand?</label>
            <input type="text" class="form-input" name="anotherInterviewOffer" ngModel formControlName="anotherInterviewOffer">
          </div>

          <div class="col-sm-4">
            <label for="vacationPlans" class="form-label">Vacation plans, if any:</label>
            <input type="text" class="form-input" name="vacationPlans" ngModel formControlName="vacationPlans">
          </div>

          <div class="col-sm-4">
            <div class="mb-3">
              <label for="c2c" class="form-label">C2C:</label>
            </div>
            <mat-radio-group (change)="getC2c($event)">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No" checked>No</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>


        <div class="row" *ngIf="isEmployerDetails">
          <div class="col-sm-12">
            <h2 class="form-title">Employer Details:</h2>

            <div class="row">
              <div class="col-sm-4">
                <label for="employerName" class="form-label">Employer Name:</label>
                <input type="text" class="form-input" name="employerName" ngModel formControlName="employerName">
              </div>

              <div class="col-sm-4">
                <label for="employerContactName" class="form-label">Employer Contact Name:</label>
                <input type="text" class="form-input" name="employerContactName" ngModel formControlName="employerContactName">
              </div>

              <div class="col-sm-4">
                <label for="employerPhone" class="form-label">Employer Phone:</label>
                <input type="text" class="form-input" name="employerPhone" ngModel formControlName="employerPhone">
              </div>

              <div class="col-sm-4">
                <label for="employerEmail" class="form-label">Employer Email:</label>
                <input type="text" class="form-input" name="employerEmail" ngModel formControlName="employerEmail">
              </div>
            </div>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-sm-12">
            <h2 class="form-title">Attachments:</h2>
          </div>
          <div class="form-group pl-3">
            <div>
              <label class="fileContainer">
                <button class="btn btn-secondary"><span class="icon-attachment"><i class="material-icons">attachment</i></span>Attach
                  Files</button>
                <input type="file" (change)="candidateFileEvent($event)" multiple />
              </label>
            </div>
            <div class="pb-2" *ngFor="let file of candidateGetFiles">
              <a class="panel">{{file.name}}
              </a>
              <a class="btn" (click)="candidateRemoveFile(file)">
                <i class="material-icons">
                  clear
                </i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="form-btn-container">
        <button class="btn btn-forms btn-space" type="submit" [disabled]="!myForm.valid">Add Submission</button>
        <button [routerLink]="[ '/submissions']" class="btn btn-forms btn-space">Cancel</button>
        <!-- <button type="button" class="btn btn-default" (click)="saveFormData(myForm)">Save</button> -->
      </div>

    </form>

  </div>
</div>
