<div class="sub-nav-wrapper">
  <a class="sub-nav-link" [routerLink]="['/add-candidate']">Add New Candidate</a>
</div>
<h2 class="main-title">Manage Candidates</h2>
<div class="utility-container">
  <div class="search-container">
    <input type="text" class="form-control mr-sm-2" placeholder="Search by Email" name="searchString " [(ngModel)]="searchString">
  </div>
  <table class="table table-hover table-sm">
    <thead class="table-header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Location</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody *ngIf="candidateLength > 0 ; else noCandidate">
      <tr *ngFor="let candidate of candidates | filter:searchString" [routerLink]="['/edit-candidate',candidate.candidateId]">
        <td>{{candidate.name}}</td>
        <td>{{candidate.email}}</td>
        <td>{{candidate.phoneNumber}}</td>
        <td>{{candidate.location}}</td>
        <td>{{candidate.availability}}</td>
      </tr>
    </tbody>
    <ng-template #noCandidate>
      <tbody>
        <tr>
          <td>No Candidate yet, Please click Add Candidate to add a new candidate.</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
