<div class="sub-nav-wrapper" *ngIf="userRole ==='ADMIN' || userRole ==='ACC_MGR' || userRole ==='TL'">
  <a class="sub-nav-link" [routerLink]="['/add-new-requirement']">Add New Requirement</a>
</div>
<h2 class="main-title">Requirements</h2>
<div class="utility-container">

  <form [formGroup]="myForm">
    <div class="row">
      <div class="col-sm-2">
        <div class="mb-3">
          <label for="fromDate" class="form-label">From Date:</label>
        </div>
        <mat-form-field>
          <input matInput [matDatepicker]="fromDate" formControlName="fromDate" ([ngModel])="fromDate">
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <div class="mb-3">
          <label for="toDate" class="form-label">To Date:</label>
        </div>
        <mat-form-field>
          <input matInput [matDatepicker]="toDate" formControlName="toDate" ([ngModel])="toDate">
          <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <select class="custom-select" (change)="filterBy($event.target.value)">
          <option value="" selected>Filter By</option>
          <option value="status">Status</option>
          <option value="team">Team</option>
          <option value="client">Client</option>
          <option value="recruiter">Recruiter</option>
        </select>
      </div>

      <div *ngIf="isStatus" class="col-sm-2">
        <select class="custom-select" (change)="selectStatus($event.target.value)">
          <option value="" selected>Select</option>
          <option *ngFor="let status of requirementStatus" value="{{status.value}}">{{status.name}}</option>
        </select>
      </div>

      <div *ngIf="isTeam" class="col-sm-2">
        <select class="custom-select" (change)="selectTeam($event.target.value)">
          <option value="" selected>Select</option>
          <option *ngFor="let team of teams" value="{{team.teamId}}">{{team.name}}</option>
        </select>
      </div>

      <div *ngIf="isClient" class="col-sm-2">
        <select class="custom-select" (change)="selectClient($event.target.value)">
          <option value="" selected>Select</option>
          <option *ngFor="let client of clients" value="{{client.clientId}}">{{client.name}}</option>
        </select>
      </div>

      <div *ngIf="isRecruiter" class="col-sm-2">
        <select class="custom-select" (change)="selectRecruiter($event.target.value)">
          <option value="" selected>Select</option>
          <option *ngFor="let user of teamUsers" value="{{user.userId}}">{{user.firstName}} {{user.lastName}}</option>
        </select>
      </div>

    </div>

  </form>

  <div *ngIf="userRole ==='ADMIN'">
    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by Position Name" name="searchString " [(ngModel)]="searchString">
      <span class="search-icon">
        <i class="material-icons">search</i>
      </span>
    </div>
    <table class="table table-hover">
      <thead class="table-header">
        <tr>
          <th>Position Name</th>
          <th>Status</th>
          <th>Positions</th>
          <th>Submitted Count</th>
          <th>Allocation By Team</th>
          <th>Allocation By User</th>
          <th>Client</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of requirements | filter:searchString" [routerLink]="['/edit-requirement',require.requirementId]">
          <td>{{require.position.positionName}}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td>{{require.team.name}}</td>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}} {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="userRole ==='ACC_MGR'">
    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by Position Name" name="searchString " [(ngModel)]="searchString">
      <span class="search-icon">
        <i class="material-icons">search</i>
      </span>
    </div>
    <table class="table table-hover">
      <thead class="table-header">
        <tr>
          <th>Position Name</th>
          <th>Status</th>
          <th>Positions</th>
          <th>Submitted Count</th>
          <th>Allocation By Team</th>
          <th>Allocation By User</th>
          <th>Client</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of requirements | filter:searchString" [routerLink]="['/acc_mgr-edit-requirement',require.requirementId]">
          <td>{{require.position.positionName}}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td>{{require.team.name}}</td>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}} {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="userRole ==='TL'">
    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by Position Name" name="searchString " [(ngModel)]="searchString">
      <span class="search-icon">
        <i class="material-icons">search</i>
      </span>
    </div>
    <table class="table table-hover">
      <thead class="table-header">
        <tr>
          <th>Position Name</th>
          <th>Status</th>
          <th>Positions</th>
          <th>Submitted Count</th>
          <th>Allocation By Team</th>
          <th>Allocation By User</th>
          <th>Client</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of requirements | filter:searchString" [routerLink]="['/leadUser-edit-requirement',require.requirementId]">
          <td>{{require.position.positionName}}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td>{{require.team.name}}</td>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}} {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="userRole ==='RECRUITER'">
    <div class="search-container">
      <input type="text" class="form-control mr-sm-2" placeholder="Search by Position Name" name="searchString " [(ngModel)]="searchString">
      <span class="search-icon">
        <i class="material-icons">search</i>
      </span>
    </div>

    <table class="table table-hover">
      <thead class="table-header">
        <tr>
          <th>Position Name</th>
          <th>Status</th>
          <th>Positions</th>
          <th>Submitted Count</th>
          <th>Allocation By Team</th>
          <th>Allocation By User</th>
          <th>Client</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of requirements | filter:searchString" [routerLink]="['/requirement-detail',require.requirementId]">
          <td>{{require.position.positionName}}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td>{{require.team.name}}</td>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}} {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

</div>
