.search-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.search-container .text-input {
  width: 300px;
}

.form-btn-container {
  margin-top: 3.5em;
  margin-left: .5em;
}

.custom-select {
  margin-top: 3.5em;
}
