<div class="sub-nav-wrapper" *ngIf="userRole ==='ADMIN' || userRole ==='ACC_MGR' || userRole ==='TL'">
  <a class="sub-nav-link" [routerLink]="['/add-new-requirement']">Add New Requirement</a>
</div>

<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false"
  [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>

<h2 class="main-title">Requirements</h2>
<div class="utility-container">

  <div class="filter-container">
    <div class="row">
      <div class="col-4 divider-right">
        <form [formGroup]="myForm" (ngSubmit)="filterByDate(myForm)">
          <div class="row mt-2">
            <div class="col-4">
              <mat-form-field>
                <input matInput [matDatepicker]="fromDate" formControlName="fromDate" [(ngModel)]="startDate"
                  placeholder="From Date">
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field>
                <input matInput [matDatepicker]="toDate" formControlName="toDate" [(ngModel)]="currentDate" placeholder="To Date">
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-4 mt-3">
              <button class="btn btn-sm btn-primary" type="submit">Show Results</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-auto divider-right">
        <div class="row mt-3">
          <div class="col-6">
            <select class="form-control width-200" (change)="filterBy($event.target.value)" [(ngModel)]="filter">
              <option value="" selected>Filter By</option>
              <option value="status">Status</option>
              <option value="team">Team</option>
              <option value="client">Client</option>
              <option *ngIf="userRole !== 'RECRUITER'" value="recruiter">Recruiter</option>
            </select>
          </div>

          <div *ngIf="isStatus" class="col-6 width-200">
            <select class="form-control" (change)="selectStatus($event.target.value)">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let status of requirementStatus" value="{{status.value}}">{{status.name}}</option>
            </select>
          </div>

          <div *ngIf="isTeam" class="col-6 width-200">
            <select class="form-control" (change)="selectTeam($event.target.value)">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let team of teams" value="{{team.teamId}}">{{team.name}}</option>
            </select>
          </div>

          <div *ngIf="isClient" class="col-6 width-200">
            <select class="form-control" (change)="selectClient($event.target.value)">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let client of clients" value="{{client.clientId}}">{{client.name}}</option>
            </select>
          </div>

          <div *ngIf="isRecruiter" class="col-6 width-200">
            <select class="form-control" (change)="selectRecruiter($event.target.value)">
              <option value="" selected>Select</option>
              <option value="selectAll">Select All</option>
              <option *ngFor="let user of teamUsers" value="{{user.userId}}">{{user.firstName}} {{user.lastName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-4 mt-3">
        <div class="search-container">
          <input type="text" class="form-control mr-sm-2" placeholder="Search by Position Name" name="searchString "
            [(ngModel)]="searchString" (input)="filterItem($event.target.value)">
          <span class="search-icon">
            <i class="material-icons">search</i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 pt-5">
    <h6>Total {{requirementsLength}} Results</h6>
  </div>


  <div *ngIf="userRole ==='ADMIN'" class="pt-2">

    <table class="table table-hover table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="status">Status</th>
          <th mat-sort-header="positions">Positions</th>
          <th mat-sort-header="submittedCount">Submitted Count</th>
          <th mat-sort-header="allocationByTeam">Allocation By Team</th>
          <th mat-sort-header="allocationByUser">Allocation By User</th>
          <th mat-sort-header="client">Client</th>
          <th mat-sort-header="age">Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of sortedData" [routerLink]="['/edit-requirement',require.requirementId]">
          <td>{{require.position.positionName }}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td *ngIf="require.team !== undefined else noTeam">{{require.team.name}}</td>
          <ng-template #noTeam>
            <td>-</td>
          </ng-template>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}}
            {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="userRole ==='ACC_MGR'" class="pt-">

    <table class="table table-hover table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="status">Status</th>
          <th mat-sort-header="positions">Positions</th>
          <th mat-sort-header="submittedCount">Submitted Count</th>
          <th mat-sort-header="allocationByTeam">Allocation By Team</th>
          <th mat-sort-header="allocationByUser">Allocation By User</th>
          <th mat-sort-header="client">Client</th>
          <th mat-sort-header="age">Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of sortedData" [routerLink]="['/edit-requirement',require.requirementId]">
          <td>{{require.position.positionName}}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td>{{require.team.name}}</td>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}}
            {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="userRole ==='TL'" class="pt-2">

    <table class="table table-hover table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="status">Status</th>
          <th mat-sort-header="positions">Positions</th>
          <th mat-sort-header="submittedCount">Submitted Count</th>
          <th mat-sort-header="allocationByTeam">Allocation By Team</th>
          <th mat-sort-header="allocationByUser">Allocation By User</th>
          <th mat-sort-header="client">Client</th>
          <th mat-sort-header="age">Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of sortedData" [routerLink]="['/edit-requirement',require.requirementId]">
          <td>{{require.position.positionName}}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td>{{require.team.name}}</td>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}}
            {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

  <div *ngIf="userRole ==='RECRUITER' || userRole==='TRAINEE'" class="pt-2">

    <table class="table table-hover table-sm" matSort (matSortChange)="sortData($event)">
      <thead class="table-header">
        <tr>
          <th mat-sort-header="positionName">Position Name</th>
          <th mat-sort-header="status">Status</th>
          <th mat-sort-header="positions">Positions</th>
          <th mat-sort-header="submittedCount">Submitted Count</th>
          <th mat-sort-header="allocationByTeam">Allocation By Team</th>
          <th mat-sort-header="allocationByUser">Allocation By User</th>
          <th mat-sort-header="client">Client</th>
          <th mat-sort-header="age">Age</th>
        </tr>
      </thead>
      <tbody *ngIf="requirementsLength > 0 ; else noRequirements">
        <tr *ngFor="let require of sortedData" [routerLink]="['/requirement-detail',require.requirementId]">
          <td>{{require.position.positionName}}</td>
          <td>{{require.status}}</td>
          <td>{{require.positionCount}}</td>
          <td>{{require.clientSubmissionCount}}</td>
          <td>{{require.team.name}}</td>
          <td *ngIf="require.allocationUser ; else noAlloction">{{require.allocationUser.firstName}}
            {{require.allocationUser.lastName}}</td>
          <ng-template #noAlloction>
            <td>-</td>
          </ng-template>
          <td>{{require.client.name}}</td>
          <td>{{require.age}}</td>
        </tr>
      </tbody>
      <ng-template #noRequirements>
        <tbody>
          <tr>
            <td>No requirements yet, Please click Add Requirement to add a new requirement.</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>

</div>
