<div class="utility-container">
  <form [formGroup]="myForm" (ngSubmit)="updateSubmission(myForm)">
    <legend class="header">Edit Submission</legend>

    <div class="row pt-3">
      <div class="col-6">
        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="requirements" class="col-sm-4 col-form-label">Requirements:</label>
          <div class="col-sm-7">
            <select name="requirements" class="form-control" formControlName="requirements" ngModel="{{selectedSubmission.requirementId}}"
              (change)="getRequirement($event.target.value);" required>
              <option value="">Select</option>
              <option *ngFor="let require of requirementsDetails" value="{{require.requirementId}}">{{require.position.positionName}} {{require.client.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="clientRate" class="col-sm-4 col-form-label">Client Rate:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="clientRate" formControlName="clientRate" ngModel="{{selectedSubmission.clientRate}}"
              readonly>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="sellingRate" class="col-sm-4 col-form-label">Selling Rate:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="sellingRate" formControlName="sellingRate" ngModel="{{selectedSubmission.sellingRate}}"
              readonly>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedRequirement">
          <label for="buyingRate" class="col-sm-4 col-form-label">Buying Rate:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="buyingRate" formControlName="buyingRate" required ngModel="{{selectedSubmission.buyingRate}}">
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="clientContactname" class="col-sm-4 col-form-label">Client Contact name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="clientContactname" formControlName="clientContactname" ngModel="{{selectedRequirement.client.contactPersonName}}"
              readonly>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="clientContactEmail" class="col-sm-4 col-form-label">Client Contact Email:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="clientContactEmail" formControlName="clientContactEmail" ngModel="{{selectedRequirement.client.contactPersonEmail}}"
              readonly>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedRequirement">
          <label for="accountName" class="col-sm-4 col-form-label">Account Name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="accountName" formControlName="accountName" ngModel="{{selectedRequirement.account.accountName}}"
              readonly>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedRequirement">
          <label for="workLocation" class="col-sm-4 col-form-label">Work Location:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="workLocation" formControlName="workLocation" ngModel="{{selectedRequirement.location}}"
              readonly>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="status" class="col-sm-4 col-form-label">Status:</label>
          <div class="col-sm-7">
            <select name="status" class="form-control" formControlName="status" (change)="changeStatus($event.target.value);" ngModel="{{selectedSubmission.status}}"
              required>
              <option value="">Select</option>
              <option *ngFor="let status of status" value="{{status.value}}">{{status.name}}</option>
              <option *ngIf="selectedSubmission.status === 'SUBMITTED'" value="SUBMITTED">SUBMITTED</option>
            </select>
          </div>
        </div>

        <div class="form-group row" *ngIf="isRejected">
          <label for="reasonForRejection" class="col-sm-4 col-form-label">Reson For Rejection:</label>
          <div class="col-sm-7">
            <input *ngIf="selectedSubmission.status === 'REJECTED'" type="text" class="form-control" name="reasonForRejection" formControlName="reasonForRejection"
              value="{{selectedSubmission.reasonForRejection}}">
            <input *ngIf="selectedSubmission.status !== 'REJECTED'" type="text" class="form-control" name="reasonForRejection" formControlName="reasonForRejection">
          </div>
        </div>

        <!-- <div class="form-group">
          <div>
            <label class="fileContainer">
              <button class="btn btn-secondary" disabled>
                Attach For Submisson</button>
              <input type="file" (change)="fileChangeEvent($event)" multiple disabled/>
            </label>
          </div>
          <div class="pb-2" *ngFor="let file of getFiles">
            <a class="panel">{{file.name}}
            </a>
            <a class="btn" (click)="removeFile(file)">
              <i class="material-icons">
                clear
              </i>
            </a>
          </div>
        </div> -->

        <div class="form-group" *ngIf="selectedSubmission">
          <div class="pb-2" *ngFor="let media of selectedSubmission.mediaFiles">
            <a class="panel" href="http://rameshrasaiyan.com:8080{{media.mediaThumbnailPath}}" target="_blank">{{media.fileName}}
            </a>
            <a class="btn" (click)="removeUploadedFile(media)">
              <i class="material-icons">
                clear
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <legend class="sub-heading">Interview Details:</legend>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="interviewStatus" class="col-sm-4 col-form-label">Interview Status:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="interviewStatus" formControlName="interviewStatus" ngModel="{{selectedSubmission.interviewStatus}}">
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="level1Date" class="col-sm-4 col-form-label">Level1 Date:</label>
          <div class="col-sm-7">
            <mat-form-field>
              <input matInput [matDatepicker]="dateOfLevel1" formControlName="level1Date" ngModel="{{selectedSubmission.dateOfLevel1}}">
              <mat-datepicker-toggle matSuffix [for]="dateOfLevel1"></mat-datepicker-toggle>
              <mat-datepicker #dateOfLevel1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="statusForLevel1" class="col-sm-4 col-form-label">Level1 Status:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="statusForLevel1" formControlName="statusForLevel1" ngModel="{{selectedSubmission.statusForLevel1}}">
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="level2Date" class="col-sm-4 col-form-label">Level2 Date:</label>
          <div class="col-sm-7">
            <mat-form-field>
              <input matInput [matDatepicker]="dateOfLevel2" formControlName="level2Date" ngModel="{{selectedSubmission.dateOfLevel2}}">
              <mat-datepicker-toggle matSuffix [for]="dateOfLevel2"></mat-datepicker-toggle>
              <mat-datepicker #dateOfLevel2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="statusForLevel2" class="col-sm-4 col-form-label">Level2 Status:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="statusForLevel2" formControlName="statusForLevel2" ngModel="{{selectedSubmission.statusForLevel2}}">
          </div>
        </div>

        <div class="form-group row" *ngIf="selectedSubmission">
          <label for="currentStatus" class="col-sm-4 col-form-label">Current Status:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="currentStatus" formControlName="currentStatus" ngModel="{{selectedSubmission.currentStatus}}">
          </div>
        </div>
      </div>
    </div>


    <legend class="sub-heading">Candidate Details:</legend>

    <div class="form-group row" *ngIf="selectedSubmission">
      <label for="candidateEmail" class="col-sm-2 col-form-label">Candidate Email:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="candidateEmail" formControlName="candidateEmail" ngModel="{{selectedSubmission.candidate.email}}"
          required>
      </div>
      <button type="button" class="btn" (click)="getCandidateDetails()">Search</button>
    </div>

    <div *ngIf="!addCandidate">

      <div class="row pt-3">
        <div class="col-6">

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="candidateImmigirationStatus" class="col-sm-4 col-form-label">Candidate Immigiration Status:</label>
            <div class="col-sm-7">
              <mat-radio-group formControlName="candidateImmigirationStatus" disabled>
                <mat-radio-button value="GC">GC</mat-radio-button>
                <mat-radio-button value="CITIZEN">CITIZEN</mat-radio-button>
                <mat-radio-button value="H1B">H1B</mat-radio-button>
                <mat-radio-button value="W1/1099">W2/1099</mat-radio-button>
                <mat-radio-button value="OPT/CPT">OPT/CPT</mat-radio-button>
                <mat-radio-button value="EAD">EAD</mat-radio-button>
                <mat-radio-button value="H4AD">H4AD</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="candidateName" class="col-sm-4 col-form-label">Candidate Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="candidateName" formControlName="candidateName" value="{{selectedSubmission.candidate.name}}"
                readonly>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="candidatePhone" class="col-sm-4 col-form-label">Candidate Phone:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="candidatePhone" formControlName="candidatePhone" value="{{selectedSubmission.candidate.phoneNumber}}"
                readonly>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="candidateLocation" class="col-sm-4 col-form-label">Candidate Location:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="candidateLocation" formControlName="candidateLocation" value="{{selectedSubmission.candidate.location}}"
                readonly>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="availability" class="col-sm-4 col-form-label">Availability:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="availability" formControlName="availability" value="{{selectedSubmission.candidate.availability}}"
                readonly>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="technology" class="col-sm-4 col-form-label">Technology:</label>
            <div class="col-sm-7">
              <select name="technology" class="form-control" formControlName="technology" ngModel="{{selectedSubmission.candidate.technology[0].technologyId}}"
                disabled>
                <option *ngFor="let tech of selectedSubmission.candidate.technology" value="{{tech.technologyId}}">{{tech.technologyName}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="skype" class="col-sm-4 col-form-label">Skype:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="skype" formControlName="skype" value="{{selectedSubmission.candidate.skype}}"
                readonly>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="linkedIn" class="col-sm-4 col-form-label">LinkedIn:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="linkedIn" formControlName="linkedIn" value="{{selectedSubmission.candidate.linkedIn}}"
                readonly>
            </div>
          </div>

          <div class="form-group row" *ngIf="selectedSubmission">
            <label for="c2c" class="col-sm-4 col-form-label">C2C:</label>
            <div class="col-sm-7">
              <mat-radio-group disabled formControlName="c2c">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="form-group" *ngIf="selectedSubmission">
            <label>Attachements:</label>
            <div class="pt-3" *ngFor="let media of selectedSubmission.candidate.mediaFiles">
              <a class="panel" href="http://rameshrasaiyan.com:8080{{media.mediaThumbnailPath}}" target="_blank">{{media.fileName}}
              </a>
            </div>
          </div>

        </div>
        <div class="col-6" *ngIf="isC2c">

          <legend class="sub-heading">Employer Details:</legend>

          <div class="form-group row">
            <label for="employerName" class="col-sm-4 col-form-label">Employer Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerName" formControlName="employerName" ngModel="{{selectedSubmission.candidate.employeeName}}"
                readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="employerContactName" class="col-sm-4 col-form-label">Employer Contact Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerContactName" formControlName="employerContactName" ngModel="{{selectedSubmission.candidate.employeeContactName}}"
                readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="employerPhone" class="col-sm-4 col-form-label">Employer Phone:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerPhone" formControlName="employerPhone" ngModel="{{selectedSubmission.candidate.employeeContactPhone}}"
                readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="employerEmail" class="col-sm-4 col-form-label">Employer Email:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerEmail" formControlName="employerEmail" ngModel="{{selectedSubmission.candidate.employeeContactEmail}}"
                readonly>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div *ngIf="addCandidate">

      <div class="row pt-3">
        <div class="col-6">

          <div class="form-group row">
            <label for="editCandidateImmigirationStatus" class="col-sm-4 col-form-label">Candidate Immigiration Status:</label>
            <div class="col-sm-7">
              <mat-radio-group (change)="getImmigiration($event)" formControlName="editCandidateImmigirationStatus">
                <mat-radio-button value="GC">GC</mat-radio-button>
                <mat-radio-button value="CITIZEN">CITIZEN</mat-radio-button>
                <mat-radio-button value="H1B">H1B</mat-radio-button>
                <mat-radio-button value="W1/1099">W2/1099</mat-radio-button>
                <mat-radio-button value="OPT/CPT">OPT/CPT</mat-radio-button>
                <mat-radio-button value="EAD">EAD</mat-radio-button>
                <mat-radio-button value="H4AD">H4AD</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="form-group row">
            <label for="editCandidateName" class="col-sm-4 col-form-label">Candidate Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="editCandidateName" formControlName="editCandidateName">
            </div>
          </div>

          <div class="form-group row">
            <label for="editCandidatePhone" class="col-sm-4 col-form-label">Candidate Phone:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="editCandidatePhone" formControlName="editCandidatePhone">
            </div>
          </div>

          <div class="form-group row">
            <label for="editCandidateLocation" class="col-sm-4 col-form-label">Candidate Location:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="editCandidateLocation" formControlName="editCandidateLocation">
            </div>
          </div>

          <div class="form-group row">
            <label for="editAvailability" class="col-sm-4 col-form-label">Availability:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="editAvailability" formControlName="editAvailability">
            </div>
          </div>

          <div class="form-group row">
            <label for="editTechnology" class="col-sm-4 col-form-label">Technology:</label>
            <div class="col-sm-7">
              <select name="editTechnology" class="form-control" formControlName="editTechnology" (change)="addTechnology($event.target.value);">
                <option value="">Select</option>
                <option *ngFor="let tech of technology" value="{{tech.technologyId}}">{{tech.technologyName}}</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="isOtherTechnology">
            <label for="otherTechnology" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="otherTechnology" formControlName="otherTechnology" placeholder=" Enter the Technology">
            </div>
          </div>

          <div class="form-group row">
            <label for="editSkype" class="col-sm-4 col-form-label">Skype:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="editSkype" formControlName="editSkype">
            </div>
          </div>

          <div class="form-group row">
            <label for="editLinkedIn" class="col-sm-4 col-form-label">LinkedIn:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="editLinkedIn" formControlName="editLinkedIn">
            </div>
          </div>

          <div class="form-group row">
            <label for="c2c" class="col-sm-4 col-form-label">C2C:</label>
            <div class="col-sm-7">
              <mat-radio-group (change)="getC2c($event)" formControlName="c2c">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="form-group">
            <div>
              <label class="fileContainer">
                <button class="btn btn-secondary">
                  Attach For Candidate</button>
                <input type="file" (change)="candidateFileEvent($event)" multiple/>
              </label>
            </div>
            <div class="pb-2" *ngFor="let file of candidateGetFiles">
              <a class="panel">{{file.name}}
              </a>
              <a class="btn" (click)="candidateRemoveFile(file)">
                <i class="material-icons">
                  clear
                </i>
              </a>
            </div>
          </div>

        </div>

        <div class="col-6" *ngIf="isEmployerDetails">
          <legend class="sub-heading">Employer Details:</legend>

          <div class="form-group row">
            <label for="employerName" class="col-sm-4 col-form-label">Employer Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerName" formControlName="employerName" ngModel>
            </div>
          </div>

          <div class="form-group row">
            <label for="employerContactName" class="col-sm-4 col-form-label">Employer Contact Name:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerContactName" formControlName="employerContactName" ngModel>
            </div>
          </div>

          <div class="form-group row">
            <label for="employerPhone" class="col-sm-4 col-form-label">Employer Phone:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerPhone" formControlName="employerPhone" ngModel>
            </div>
          </div>

          <div class="form-group row">
            <label for="employerEmail" class="col-sm-4 col-form-label">Employer Email:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="employerEmail" formControlName="employerEmail" ngModel>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-btn-container">
      <button class="btn btn-default btn-space" type="submit">Update Submission</button>
      <button type="button" *ngIf="sendToClient && isSubmitToClient" class="btn btn-default btn-space" (click)="submissionToClient();">Send To Client</button>
      <button [routerLink]="[ '/submissions']" class="btn btn-default">Cancel</button>
    </div>

  </form>
</div>
