<h2 class="main-title">
  <a [routerLink]="['/requirements']">Requirements</a> / Edit Requirement</h2>
<div class="utility-container">
  <form [formGroup]="myForm" (ngSubmit)="updateRequirement(myForm)">
    <div class="non-editable-content-top" *ngIf="selectedRequirement">
      <span class="non-editable-label">Created On:</span>
      <span class="non-editable-content">{{requirementCreatedDate}}</span>
    </div>

    <div class="form-wrapper">
      <div class="row" *ngIf="selectedRequirement.position">
        <div class="col-sm-4">
          <label for="positionName" class="form-label">Position Name:</label>
          <select name="positionName" class="form-input" formControlName="positionName" (change)="changePositionName($event.target.value);"
            ngModel="{{selectedRequirement.position.positionId}}" required>
            <option value="">Select</option>
            <option *ngFor="let name of positions" value="{{name.positionId}}">{{name.positionName}}</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="col-sm-4" *ngIf="isOtherPositionName">
          <label for="positionName" class="form-label">New Position Name:</label>
          <input type="text" class="form-input" name="otherPositionName" formControlName="otherPositionName" placeholder=" Enter the Position Name"
            required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2" *ngIf="selectedRequirement">
          <label for="status" class="form-label">Status:</label>
          <select name="status" class="form-input" formControlName="status" ngModel="{{selectedRequirement.status}}" required>
            <option value="">Select</option>
            <option *ngFor="let status of requirementStatus" value="{{status.value}}">{{status.name}}</option>
            <option *ngIf="selectedRequirement.status === 'Draft'" value="Draft">Draft</option>
          </select>
        </div>

        <div class="col-sm-2" *ngIf="selectedRequirement">
          <label for="priority" class="form-label">Priority:</label>
          <select name="priority" class="form-input" formControlName="priority" required ngModel="{{selectedRequirement.priority}}">
            <option value="">Select</option>
            <option value="HIGH">High</option>
            <option value="MEDIUM">Medium</option>
            <option value="CRITICAL">Critical</option>
            <option value="LOW">Low</option>
          </select>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement">
        <div class="col-sm-4">
          <label for="accountName" class="form-label">Account Name:</label>
          <select name="accountName" class="form-input" formControlName="accountName" (change)="changeAccountName($event.target.value);"
            ngModel="{{accountName}}" required>
            <option value="">Select</option>
            <option *ngFor="let name of accounts" value="{{name.accountId}}">{{name.accountName}}</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="col-sm-4" *ngIf="isOtherAccountName">
          <input type="text" class="form-control" name="otherAccountName" formControlName="otherAccountName" placeholder=" Enter the Bank Name">
        </div>
      </div>



      <div class="row">
        <div class="col-sm-2" *ngIf="selectedRequirement">
          <label for="location" class="form-label">Location:</label>
          <input type="text" class="form-input" name="location" formControlName="location" ngModel="{{selectedRequirement.location}}"
            required>
        </div>

        <div class="col-sm-2" *ngIf="selectedRequirement">
          <label for="positionsCount" class="form-label ">No.of Positions:</label>
          <input type="number" class="form-input" name="positionsCount" maxlength="3" formControlName="positionsCount" ngModel="{{selectedRequirement.positionCount}}"
            required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2" *ngIf="selectedRequirement">
          <label for="clientRate" class="form-label">Client Rate:</label>
          <input type="text" class="form-input" name="clientRate" formControlName="clientRate" ngModel="{{selectedRequirement.clientRate}}"
            required>
        </div>

        <div class="col-sm-2" *ngIf="selectedRequirement">
          <label for="sellingRate" class="form-label">Selling Rate:</label>
          <input type="text" class="form-input" name="sellingRate" formControlName="sellingRate" ngModel="{{selectedRequirement.sellingRate}}"
            required>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement.requirementType">
        <div class="col-sm-4">
          <label class="form-label">Requirement Type:</label>
          <div class="checkbox-wrapper">
            <span class="checkbox-container" *ngFor="let type of requirementType" ng-checked="requirementByUser.indexOf(type) != 1">
              <mat-checkbox color="primary" (change)="getCheckedRequirementType(type)" formControlName="{{type}}" [value]="type">{{type}}</mat-checkbox>
            </span>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement">
        <div class="col-sm-6">
          <label for="immigrationRequirement" class="form-label">Immigration Requirement:</label>
          <div class="checkbox-wrapper">
            <span class="checkbox-container" *ngFor="let data of immigration" ng-checked="immigrationByUser.indexOf(data) != 1">
              <mat-checkbox color="primary" (change)="getCheckedImmigrationValue(data)" formControlName="{{data.id}}" [value]="data.value">{{data.value}}</mat-checkbox>
            </span>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement.client">
        <div class="col-sm-4">
          <label for="clientName" class="form-label">Client:</label>
          <select name="clientName" class="form-input" formControlName="clientName" ngModel="{{selectedRequirement.client.clientId}}"
            (change)="getClientRecruiters($event.target.value)" required>
            <option value="">Select</option>
            <option *ngFor="let client of clients" value="{{client.clientId}}">{{client.name}}</option>
          </select>
        </div>
        <div class="col-sm-4" *ngIf="isRecruiters">
          <label for="clientName" class="form-label">Add New Client:</label>
          <div class="pt-4">
            <ng-multiselect-dropdown [placeholder]="'Select Recruiters'" [data]="recruitersArray" formControlName="recruitersName" [(ngModel)]="selectedrecruitersArray"
              [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement.technology">
        <div class="col-sm-4">
          <label for="technologies" class="form-label">Technologies:</label>
          <select name="technologies" class="form-input" formControlName="technologies" (change)="addTechnology($event.target.value);"
            ngModel="{{selectedRequirement.technology[0].technologyId}}" required>
            <option value="">Select</option>
            <option *ngFor="let tech of technologies" value="{{tech.technologyId}}">{{tech.technologyName}}</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="col-sm-4" *ngIf="isOtherTechnology">
          <label for="technologies" class="form-label">Add New Technologies:</label>
          <input type="text" class="form-input" name="otherTechnology" formControlName="otherTechnology" placeholder=" Enter the Technology"
            required>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement">
        <div class="col-sm-4">
          <label for="team" class="form-label">Select Team:</label>
          <select name="team" class="form-input" formControlName="team" ngModel="{{selectedRequirement.teamId}}" (change)="selectTeam($event.target.value)"
            required>
            <option value="">Select</option>
            <option *ngFor="let team of teams" value="{{team.teamId}}">{{team.name}}</option>
          </select>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement">
        <div class="col-sm-4">
          <label for="jobDescription" class="form-label">Job Description:</label>
          <textarea rows="4" name="jobDescription" class="form-textarea" formControlName="jobDescription" placeholder="Description.."
            ngModel="{{selectedRequirement.jobDescription}}"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <label for="notes" class="form-label">Notes:</label>
          <textarea name="notes" class="form-textarea" formControlName="notes" placeholder="Type Your Notes.." ngModel="{{selectedRequirement.note}}"></textarea>
        </div>
      </div>

      <div class="row" *ngIf="selectedRequirement.comments">
        <div class="col-sm-4">
          <label for="comments" class="form-label">Comments:</label>
          <textarea name="comments" class="form-textarea" formControlName="comments" placeholder="Type Your Comments.." ngModel="{{selectedRequirement.comments}}"></textarea>
        </div>
      </div>
    </div>

    <div class="btn-container mt-4 mb-2">
      <button class="btn btn-forms btn-space" type="submit" [disabled]="!myForm.valid">Update Requirement</button>
      <button [routerLink]="['/submission-by-requirement', requirementId]" class="btn btn-forms btn-space" type="submit">Submissions</button>
      <button class="btn btn-forms btn-space" [routerLink]="['/add-new-submission', requirementId]">Add New Submission</button>
      <button [routerLink]="[ '/requirements']" class="btn btn-forms">Cancel</button>
    </div>

  </form>
</div>
