<div class="row">
  <div class="col-3 mt-3">
    <mat-form-field>
      <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate" placeholder="From Date">
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-3 mt-3">
    <mat-form-field>
      <input matInput [matDatepicker]="toDate" [(ngModel)]="currentDate" placeholder="To Date">
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-2 mt-4">
    <button class="btn btn-sm btn-primary" (click)="filterByDate();">Show Results</button>
  </div>
  <div class="col-4 width-200">
    <label class="form-label">Recruiters:</label>
    <select class="form-input" (change)="selectRecruiter($event.target.value)" [(ngModel)]="recruiter">
      <option value="" selected>Select</option>
      <option value="selectAll">Select All</option>
      <option *ngFor="let user of teamUsers" value="{{user.userId}}">{{user.firstName}} {{user.lastName}}</option>
    </select>
  </div>
</div>

<div class="mt-2">
  <h6>Total {{submissionsLength}} Results</h6>
</div>

<div class="chart-align-100-400 mt-5">
  <ngx-charts-bar-vertical [view]="view" [animations]="false" [scheme]="colorScheme" [results]="selctedChartData"
    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel">
  </ngx-charts-bar-vertical>
</div>