.heading {
  padding-left: 4em;
  padding-top: 1em;
  padding-bottom: .5em;
  color: rgb(53, 46, 46)
}

.nav-taps {
  background-color: #3484c8;
  color: #fff;
}

.nav-link {
  color: rgb(229, 238, 247);
  text-transform: uppercase;
  font-size: .850em;
  letter-spacing: 1px;
  position: relative;
}

.active-link:before {
  font-family: "Material Icons";
  content: '\e5c7';
  font-size: 3em;
  position: absolute;
  bottom: -28px;
  left: 35%;
  color: #f9faff
}

.nav-item-logout {
  text-align: right;
}

.mat-icon {
  font-size: 36px;
}

.profile-name {
  color: #FFFFFF;
}

.profile-wrapper {
  margin-top: 19px;
  padding-right: 1em;
}

.logo-container {
  width: 150px;
  float: left;
  margin-top: 12px;
  padding-right: 10px;
  margin-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #FFFFFF;
}

.app-name-container {
  float: left;
  padding-top: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  margin-top: 12px;
}

.user-name {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

.user-role {
  text-transform: uppercase;
  font-size: .700em;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}
