<div class="header-wrapper">
  <div>
    <div class="logo-container">
      <img src="../assets/selsoft-logo-white-blue-underline.png" alt="Selsoft Logo">
    </div>
    <div class="app-name-container">
      Recruitment Tracking System
    </div>
  </div>
  <div class="profile-wrapper">
    <div class="profile-name" *ngIf="rtsUser">
      <p>{{userRole}}
        <i>({{rtsUser.firstName}} {{rtsUser.lastName}})</i>
      </p>
    </div>
  </div>
</div>
<div *ngIf="displayComponent">
  <div *ngIf="userRole ==='ADMIN'">
    <ul class="nav nav-taps">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/requirements']">Requirements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/submissions']">Submissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-users']">Manage Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-client']">Manage Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-candidate']">Manage Candidate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-team']">Manage Team</a>
      </li>
      <li class="nav-item-logout">
        <a class="nav-link" href="" (click)="onLogout();">Logout</a>
      </li>
    </ul>
  </div>

  <div *ngIf="userRole ==='ACC_MGR'">
    <ul class="nav nav-taps">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/requirements']">Requirements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/submissions']">Submissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-users']">Manage Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-client']">Manage Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-team']">Manage Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-candidate']">Manage Candidate</a>
      </li>
      <li class="nav-item-logout">
        <a class="nav-link" href="" (click)="onLogout();">Logout</a>
      </li>
    </ul>
  </div>

  <div *ngIf="userRole ==='TL'">
    <ul class="nav nav-taps">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/requirements']">Requirements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/submissions']">Submissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-team']">Manage Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manage-candidate']">Manage Candidate</a>
      </li>
      <li class="nav-item-logout">
        <a class="nav-link" href="" (click)="onLogout();">Logout</a>
      </li>
    </ul>
  </div>

  <div *ngIf="userRole ==='RECRUITER'">
    <ul class="nav nav-taps">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/requirements']">Requirements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recruiter-submissions']">Submissions</a>
      </li>
      <li class="nav-item-logout">
        <a class="nav-link" href="" (click)="onLogout();">Logout</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
