.heading {
  padding-left: 4em;
  padding-top: 1em;
  padding-bottom: .5em;
  color: rgb(53, 46, 46)
}

.nav-taps {
  background-color: #3a3535;
  color: #fff;
}

.nav-link {
  color: rgb(229, 238, 247);
}

.nav-item-logout {
  text-align: right;
}

.mat-icon {
  font-size: 36px;
}

.profile-name {
  padding-top: 1em;
  margin-left: 1em;
  font-size: 20px;
  font-weight: 600;
}

.profile-wrapper {
  margin-top: 2em;
  padding-right: 8em;
}

.nav-link:focus {
  border-radius: 10px;
  border: 1px solid whitesmoke;
}

